{
    "openapi": "3.0.1",
    "info": {
        "title": "Client",
        "description": "Create, read, and update client information and demographics. <br/><br/> One firm customer may be represented by many clients because each client represents a unique taxable entity. The kinds of taxable entity are represented by client type. For example, some clients are organizations, such as corporations and partnerships. Other clients are people, such as individual and sole proprietor taxpayers.",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.cchaxcess.com/api/ClientService"
        },
        {
            "url": "https://api.cchaxcess.com/api/ClientService"
        },
        {
            "url": "https://api.cchaxcess.com/api/ClientService"
        },
        {
            "url": "https://api.cchaxcess.com/api/ClientService"
        },
        {
            "url": "https://api.cchaxcess.com/api/ClientService"
        },
        {
            "url": "https://api.cchaxcess.com/api/ClientService"
        },
        {
            "url": "https://api.cchaxcess.com/api/ClientService"
        }
    ],
    "paths": {
        "/v1.0/Client": {
            "get": {
                "summary": "Get Client based on the Client Id and Client Sub Id",
                "description": "Get Client based on the Client Id and Client Sub Id </br></br>\n\nClient sub id can be empty for client which is not having subid.",
                "operationId": "Get-Client-based-on-the-Client-Id-and-Client-Sub-Id",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Enter the Client Id.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "subid",
                        "in": "query",
                        "description": "Enter the Client Sub Id. Value can be send as empty for client which doesn't have client sub id",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Integratorkey",
                        "in": "header",
                        "description": "Integratorkey/Subscription key in header.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "_Required_ when using [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115 \"view support article\") which is recommended for all firms. Firms using [Federation Services in CCH Axcess Login Options](https://z001download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_FederationServices.htm \"view help article\") **must** use OAuth 2.0 and the Authorization header. The header value is \"Bearer \" followed by the JWT access token.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Security",
                        "in": "header",
                        "description": "_Required_ when using the token returned by [AzureAuthenticate](https://developers.cchaxcess.com/api-details#api=172e8059a9964ddd8614d530b1dafa7e&operation=Authenticates-the-user---Azure \"view operation details\") endpoint. This type of authentication is only compatible with firms using [CCH Axcess login method]( https://z001download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_CCHLoginMode.htm \"view help article\"). While such firms **may** use the Security header, the Authorization header and [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115 \"view support article\") is recommended for all firms.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "example": {
                                    "__type": "RestClientCorp:#Cch.ProSystemFx.Sdk.Rest.DataContracts.Client",
                                    "TimeStampString": "String content",
                                    "Guid": "1627aea5-8e0a-4371-9022-9b504344e724",
                                    "ParentGuid": "1627aea5-8e0a-4371-9022-9b504344e724",
                                    "LastUpdatedBy": "String content",
                                    "LastUpdatedDateTime": "/Date( 1693835332690-0600 )/",
                                    "CreatedBy": "String content",
                                    "CreatedDateTime": "/Date( 1693835332690-0600 )/",
                                    "InternalId": 9223372036854780000,
                                    "ParentInternalId": 9223372036854780000,
                                    "AccountId": 9223372036854780000,
                                    "ClientId": "String content",
                                    "ClientStatusCode": "String content",
                                    "ClientTypeCode": "String content",
                                    "CreatedByStaffId": 9223372036854780000,
                                    "DelinquentFlag": true,
                                    "FiscalPeriod": "String content",
                                    "OfficeGuid": "1627aea5-8e0a-4371-9022-9b504344e724",
                                    "AcquiredDateTime": "/Date( 1693835332690-0600 )/",
                                    "IsFavorite": true,
                                    "TermDateTime": "/Date( 1693835332690-0600 )/",
                                    "WebPageURL": "String content",
                                    "ClientSubordinateID": "String content",
                                    "SubordinateDescription": "String content",
                                    "ClientSortName": "String content",
                                    "BusinessUnit": "String content",
                                    "ShareableFlag": true,
                                    "PrimaryClientFlag": true,
                                    "LastActiveDateTime": "/Date( 1693835332690-0600 )/",
                                    "LastInActiveDateTime": "/Date( 1693835332690-0600 )/",
                                    "LastOnHoldDateTime": "/Date( 1693835332690-0600 )/",
                                    "LastLitigationHoldDateTime": "/Date( 1693835332690-0600 )/",
                                    "ClientClassCd": "String content",
                                    "ReturnGroupCode": "String content",
                                    "AttentionText": "String content",
                                    "SalutationText": "String content",
                                    "FirmGuid": "1627aea5-8e0a-4371-9022-9b504344e724",
                                    "BusinessUnitGUID": "1627aea5-8e0a-4371-9022-9b504344e724",
                                    "OfficeName": "String content",
                                    "ClientName": "String content",
                                    "CorrespondenceName": "String content",
                                    "NameLine1": "String content",
                                    "NameLine2": "String content",
                                    "FederalTaxId": "String content",
                                    "StateTaxId": "String content",
                                    "LocalTaxId": "String content",
                                    "CorpTypeCd": "String content",
                                    "IncorporatedDtTm": "/Date( 1693835332690-0600 )/",
                                    "IncorporatedState": "String content",
                                    "PrincipalBusiness": "String content",
                                    "ProductService": "String content",
                                    "NAIC": "String content"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Search Clients based on search parameters",
                "description": "Search Clients based on search parameters",
                "operationId": "Search-Clients-based-on-search-parameters",
                "parameters": [
                    {
                        "name": "action",
                        "in": "query",
                        "description": "<b>value should be search.</b>",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "Search"
                        }
                    },
                    {
                        "name": "Integratorkey",
                        "in": "header",
                        "description": "Integratorkey/Subscription key in header.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "_Required_ when using [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115 \"view support article\") which is recommended for all firms. Firms using [Federation Services in CCH Axcess Login Options](https://z001download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_FederationServices.htm \"view help article\") **must** use OAuth 2.0 and the Authorization header. The header value is \"Bearer \" followed by the JWT access token.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Security",
                        "in": "header",
                        "description": "_Required_ when using the token returned by [AzureAuthenticate](https://developers.cchaxcess.com/api-details#api=172e8059a9964ddd8614d530b1dafa7e&operation=Authenticates-the-user---Azure \"view operation details\") endpoint. This type of authentication is only compatible with firms using [CCH Axcess login method]( https://z001download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_CCHLoginMode.htm \"view help article\"). While such firms **may** use the Security header, the Authorization header and [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115 \"view support article\") is recommended for all firms.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Search Clients based on search parameters",
                    "content": {
                        "application/json": {
                            "schema": {
                                "oneOf": [
                                    {
                                        "$ref": "#/components/schemas/SimpleSearch"
                                    },
                                    {
                                        "$ref": "#/components/schemas/CompoundSearch"
                                    },
                                    {
                                        "$ref": "#/components/schemas/CompoundSearchwithSorting"
                                    }
                                ]
                            },
                            "example": {
                                "_comment": "This is a comment. You may delete this property from your application. To do a compound search of multiple field with sorting .You may paste it to try it ",
                                "Filters": [
                                    {
                                        "Field": 1534,
                                        "Operator": 1,
                                        "Value": "2010-04-15",
                                        "AndOr": 0
                                    },
                                    {
                                        "Field": 1705,
                                        "Operator": 0,
                                        "Value": "AC",
                                        "AndOr": 0
                                    }
                                ],
                                "SortParamAndOrder": {
                                    "Order": 0,
                                    "SortParamArray": [
                                        0
                                    ]
                                },
                                "PageIndex": 1,
                                "PageSize": 100,
                                "RecordCountRequired": true
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "example": {
                                    "ClientList": [
                                        {
                                            "ClientId": "String content",
                                            "ClientSubordinateID": "String content",
                                            "ClientName": "String content",
                                            "ClientTypeCode": 0,
                                            "ClientStatusCode": 0,
                                            "ClientClassCd": 0,
                                            "OfficeName": "String content",
                                            "BusinessUnit": "String content",
                                            "ClientGuid": "1627aea5-8e0a-4371-9022-9b504344e724",
                                            "ClientSortName": "String content"
                                        }
                                    ],
                                    "TotalRecordCount": 2147483647
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1.0/Client/Address": {
            "post": {
                "summary": "Creates List of Client Address",
                "description": "To create the Address information of the client.",
                "operationId": "Creates-Client-Address",
                "parameters": [
                    {
                        "name": "Integratorkey",
                        "in": "header",
                        "description": "Integratorkey/Subscription key in header.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "_Required_ when using [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115 \"view support article\") which is recommended for all firms. Firms using [Federation Services in CCH Axcess Login Options](https://z001download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_FederationServices.htm \"view help article\") **must** use OAuth 2.0 and the Authorization header. The header value is \"Bearer \" followed by the JWT access token.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Security",
                        "in": "header",
                        "description": "_Required_ when using the token returned by [AzureAuthenticate](https://developers.cchaxcess.com/api-details#api=172e8059a9964ddd8614d530b1dafa7e&operation=Authenticates-the-user---Azure \"view operation details\") endpoint. This type of authentication is only compatible with firms using [CCH Axcess login method]( https://z001download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_CCHLoginMode.htm \"view help article\"). While such firms **may** use the Security header, the Authorization header and [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115 \"view support article\") is recommended for all firms.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Creates List of Client Address",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateClientAddress"
                            },
                            "example": {
                                "ClientAddress": [
                                    {
                                        "IsNew": true,
                                        "HasChanged": false,
                                        "AddressLine1": "17A Independent Villas",
                                        "AddressLine2": "Township",
                                        "AddressLine3": "AptOrSuiteNo",
                                        "City": "Alaska",
                                        "Country": "USA",
                                        "PostalCode": "20012",
                                        "StateOrRegion": "State",
                                        "AddressType": "Business",
                                        "IsMailingAddress": true,
                                        "IsPrimary": true,
                                        "EmployeePlanSubEntityTypeCd": "ADMIN",
                                        "StateCode": "AB",
                                        "AptOrSuiteNo": "1234567",
                                        "CountryName": "USA"
                                    }
                                ],
                                "ClientId": "IND116",
                                "ClientSubordinateId": ""
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "example": {
                                    "DetailedErrorMessage": "",
                                    "ErrorReport": {
                                        "Details": [
                                            {
                                                "__type": "Report:http://CCH.Pfx.TPI.SDK.Client/2010/06",
                                                "ErrorLevel": 2,
                                                "ErrorType": 0,
                                                "Messages": [
                                                    {
                                                        "ErrorCode": "",
                                                        "ErrorDescription": "Successfully updated."
                                                    }
                                                ],
                                                "RowNumber": 1,
                                                "ClientId": "string",
                                                "Guid": "00000000-0000-0000-0000-000000000000",
                                                "Id": "string",
                                                "SubId": "string"
                                            }
                                        ]
                                    },
                                    "FailedRecordCount": 0,
                                    "Message": "",
                                    "SucceededLevel": 0,
                                    "SucceededRecordCount": 1
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Updates List of Client Address",
                "description": "Updates Client Address Details </br> </br>\n\nClientId and Client SubId should match the client that need to be updated. For client which did not have subid the value should be empty string.\n\n\n\n",
                "operationId": "Updates-Client-Address",
                "parameters": [
                    {
                        "name": "Integratorkey",
                        "in": "header",
                        "description": "Integratorkey/Subscription key in header.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "_Required_ when using [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115 \"view support article\") which is recommended for all firms. Firms using [Federation Services in CCH Axcess Login Options](https://z001download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_FederationServices.htm \"view help article\") **must** use OAuth 2.0 and the Authorization header. The header value is \"Bearer \" followed by the JWT access token.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Security",
                        "in": "header",
                        "description": "_Required_ when using the token returned by [AzureAuthenticate](https://developers.cchaxcess.com/api-details#api=172e8059a9964ddd8614d530b1dafa7e&operation=Authenticates-the-user---Azure \"view operation details\") endpoint. This type of authentication is only compatible with firms using [CCH Axcess login method]( https://z001download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_CCHLoginMode.htm \"view help article\"). While such firms **may** use the Security header, the Authorization header and [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115 \"view support article\") is recommended for all firms.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Updates List of Client Address",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateClientAddress"
                            },
                            "example": {
                                "ClientAddress": [
                                    {
                                        "HasChanged": true,
                                        "AddressLine1": "17A Independent Villas",
                                        "AddressLine2": "Township",
                                        "AddressLine3": "AptOrSuiteNo",
                                        "Guid": "1627aea5-8e0a-4371-9022-9b504344e724",
                                        "City": "Alaska",
                                        "Country": "USA",
                                        "PostalCode": "20012",
                                        "StateOrRegion": "State",
                                        "AddressType": "Business",
                                        "IsMailingAddress": true,
                                        "IsPrimary": true,
                                        "EmployeePlanSubEntityTypeCd": "ADMIN",
                                        "StateCode": "AB",
                                        "AptOrSuiteNo": "1234567",
                                        "CountryName": "USA"
                                    }
                                ],
                                "ClientId": "IND116",
                                "ClientSubordinateId": ""
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "example": {
                                    "DetailedErrorMessage": "",
                                    "ErrorReport": {
                                        "Details": [
                                            {
                                                "__type": "Report:http://CCH.Pfx.TPI.SDK.Client/2010/06",
                                                "ErrorLevel": 2,
                                                "ErrorType": 0,
                                                "Messages": [
                                                    {
                                                        "ErrorCode": "",
                                                        "ErrorDescription": "Successfully updated."
                                                    }
                                                ],
                                                "RowNumber": 1,
                                                "ClientId": "string",
                                                "Guid": "00000000-0000-0000-0000-000000000000",
                                                "Id": "string",
                                                "SubId": "string"
                                            }
                                        ]
                                    },
                                    "FailedRecordCount": 0,
                                    "Message": "",
                                    "SucceededLevel": 0,
                                    "SucceededRecordCount": 1
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1.0/Client/ClientGuid/{CLIENTGUID}": {
            "get": {
                "summary": "Get Client details based on the Client Guid",
                "description": "Get Client details based on the Client Guid",
                "operationId": "Get-Client-details-based-on-the-Client-Guid",
                "parameters": [
                    {
                        "name": "CLIENTGUID",
                        "in": "path",
                        "description": "Enter the client guid value.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Integratorkey",
                        "in": "header",
                        "description": "Integratorkey/Subscription key in header.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "_Required_ when using [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115 \"view support article\") which is recommended for all firms. Firms using [Federation Services in CCH Axcess Login Options](https://z001download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_FederationServices.htm \"view help article\") **must** use OAuth 2.0 and the Authorization header. The header value is \"Bearer \" followed by the JWT access token.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Security",
                        "in": "header",
                        "description": "_Required_ when using the token returned by [AzureAuthenticate](https://developers.cchaxcess.com/api-details#api=172e8059a9964ddd8614d530b1dafa7e&operation=Authenticates-the-user---Azure \"view operation details\") endpoint. This type of authentication is only compatible with firms using [CCH Axcess login method]( https://z001download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_CCHLoginMode.htm \"view help article\"). While such firms **may** use the Security header, the Authorization header and [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115 \"view support article\") is recommended for all firms.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Get Client details based on the Client Guid",
                    "content": {
                        "application/json": {}
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "example": {
                                    "__type": "RestClientCorp:#Cch.ProSystemFx.Sdk.Rest.DataContracts.Client",
                                    "TimeStampString": "String content",
                                    "Guid": "1627aea5-8e0a-4371-9022-9b504344e724",
                                    "ParentGuid": "1627aea5-8e0a-4371-9022-9b504344e724",
                                    "InternalId": 9223372036854780000,
                                    "ParentInternalId": 9223372036854780000,
                                    "AccountId": 9223372036854780000,
                                    "ClientId": "String content",
                                    "ClientStatusCode": "String content",
                                    "ClientTypeCode": "String content",
                                    "CreatedByStaffId": 9223372036854780000,
                                    "DelinquentFlag": true,
                                    "FiscalPeriod": "String content",
                                    "OfficeGuid": "1627aea5-8e0a-4371-9022-9b504344e724",
                                    "AcquiredDateTime": "/Date( 1693835332690-0600 )/",
                                    "IsFavorite": true,
                                    "TermDateTime": "/Date( 1693835332690-0600 )/",
                                    "WebPageURL": "String content",
                                    "ClientSubordinateID": "String content",
                                    "SubordinateDescription": "String content",
                                    "ClientSortName": "String content",
                                    "BusinessUnit": "String content",
                                    "ShareableFlag": true,
                                    "PrimaryClientFlag": true,
                                    "LastActiveDateTime": "/Date( 1693835332690-0600 )/",
                                    "LastInActiveDateTime": "/Date( 1693835332690-0600 )/",
                                    "LastOnHoldDateTime": "/Date( 1693835332690-0600 )/",
                                    "LastLitigationHoldDateTime": "/Date( 1693835332690-0600 )/",
                                    "ClientClassCd": "String content",
                                    "ReturnGroupCode": "String content",
                                    "AttentionText": "String content",
                                    "SalutationText": "String content",
                                    "FirmGuid": "1627aea5-8e0a-4371-9022-9b504344e724",
                                    "BusinessUnitGUID": "1627aea5-8e0a-4371-9022-9b504344e724",
                                    "OfficeName": "String content",
                                    "ClientName": "String content",
                                    "CorrespondenceName": "String content",
                                    "NameLine1": "String content",
                                    "NameLine2": "String content",
                                    "FederalTaxId": "String content",
                                    "StateTaxId": "String content",
                                    "LocalTaxId": "String content",
                                    "CorpTypeCd": "String content",
                                    "IncorporatedDtTm": "/Date( 1693835332690-0600 )/",
                                    "IncorporatedState": "String content",
                                    "PrincipalBusiness": "String content",
                                    "ProductService": "String content",
                                    "NAIC": "String content"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1.0/Client/Corporate": {
            "post": {
                "summary": "Creates List of Corporate Clients",
                "description": " Corporate Clients refers to businesses or corporations that require tax-related services and expertise. These clients seek assistance with various aspects of corporate taxation to ensure compliance with tax laws and optimize their financial operations.<br/><br/>Available return types for Corporate clients are <br/>1. 1120 Corporation, <br/> 2. 5500 Employee Benefit Plan<br/>3. 990 Exempt Organization <br/>4. 1120S S Corporation. ",
                "operationId": "Creates-List-of-Corporate-Clients",
                "parameters": [
                    {
                        "name": "Integratorkey",
                        "in": "header",
                        "description": "Integratorkey/Subscription key in header.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "_Required_ when using [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115 \"view support article\") which is recommended for all firms. Firms using [Federation Services in CCH Axcess Login Options](https://z001download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_FederationServices.htm \"view help article\") **must** use OAuth 2.0 and the Authorization header. The header value is \"Bearer \" followed by the JWT access token.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Security",
                        "in": "header",
                        "description": "_Required_ when using the token returned by [AzureAuthenticate](https://developers.cchaxcess.com/api-details#api=172e8059a9964ddd8614d530b1dafa7e&operation=Authenticates-the-user---Azure \"view operation details\") endpoint. This type of authentication is only compatible with firms using [CCH Axcess login method]( https://z001download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_CCHLoginMode.htm \"view help article\"). While such firms **may** use the Security header, the Authorization header and [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115 \"view support article\") is recommended for all firms.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Creates List of Corporate Clients",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateCorporateClient"
                            },
                            "example": [
                                {
                                    "AccountId": 337733,
                                    "ClientTypeCode": "CR",
                                    "ReturnGroupCode": "",
                                    "OfficeName": "Main",
                                    "ClientStatusCode": 0,
                                    "NameLine1": "NameLine1",
                                    "NameLine2": "NameLine2",
                                    "PrimaryClientFlag": true,
                                    "AcquiredDateTime": "/Date( 1693387453 )/",
                                    "SubordinateDescription": "",
                                    "FederalTaxId": "99009990909",
                                    "StateTaxId": "456",
                                    "LocalTaxId": "321",
                                    "ClientClassCd": 2,
                                    "BusinessUnit": "",
                                    "CorpTypeCd": "CCRP",
                                    "PrincipalBusiness": "",
                                    "ClientId": "CORP123",
                                    "ClientSubordinateID": "",
                                    "ClientName": "Test",
                                    "ClientSortName": "Test Madhu",
                                    "OfficeGuid": "00000000-0000-0000-0000-000000000000",
                                    "BusinessUnitGUID": "00000000-0000-0000-0000-000000000000",
                                    "WebpageURL": "",
                                    "SalutationText": "Mr",
                                    "AttentionText": "Doctor",
                                    "CorrespondenceName": "",
                                    "IsFavorite": true,
                                    "FiscalPeriod": "1229",
                                    "NAIC": "212300",
                                    "IncorporatedState": "Alaska",
                                    "ProductService": "",
                                    "FirmRegionGuid": "00000000-0000-0000-0000-000000000000",
                                    "FirmLineOfBusinessGuid": "00000000-0000-0000-0000-000000000000",
                                    "FirmPrimaryServiceTypeGuid": "00000000-0000-0000-0000-000000000000",
                                    "ShareableFlag": true,
                                    "DelinquentFlag": true,
                                    "LastActiveDateTime": "/Date( 241554600000 )/",
                                    "LastInActiveDateTime": "/Date( 241554600000 )/",
                                    "LastOnHoldDateTime": "/Date( 241554600000 )/",
                                    "LastLitigationHoldDateTime": "/Date( 241554600000 )/",
                                    "TermDateTime": "/Date( 241554600000 )/"
                                }
                            ]
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "example": {
                                    "DetailedErrorMessage": "",
                                    "ErrorReport": {
                                        "Details": [
                                            {
                                                "__type": "Report:http://CCH.Pfx.TPI.SDK.Client/2010/06",
                                                "ErrorLevel": 2,
                                                "ErrorType": 0,
                                                "Messages": [
                                                    {
                                                        "ErrorCode": "",
                                                        "ErrorDescription": "Successfully imported"
                                                    }
                                                ],
                                                "RowNumber": 1,
                                                "ClientId": "string",
                                                "Guid": "00000000-0000-0000-0000-000000000000",
                                                "Id": "string",
                                                "SubId": "string"
                                            }
                                        ]
                                    },
                                    "FailedRecordCount": 0,
                                    "Message": "",
                                    "SucceededLevel": 0,
                                    "SucceededRecordCount": 1
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Updates List of Corporate Clients",
                "description": "Updates List of Corporate Clients.</br>\n\nClientId and Client SubId should match the client that need to be updated. For client which did not have subid the value should be empty.",
                "operationId": "Updates-List-of-Corporate-Clients",
                "parameters": [
                    {
                        "name": "Integratorkey",
                        "in": "header",
                        "description": "Integratorkey/Subscription key in header.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "_Required_ when using [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115 \"view support article\") which is recommended for all firms. Firms using [Federation Services in CCH Axcess Login Options](https://z001download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_FederationServices.htm \"view help article\") **must** use OAuth 2.0 and the Authorization header. The header value is \"Bearer \" followed by the JWT access token.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Security",
                        "in": "header",
                        "description": "_Required_ when using the token returned by [AzureAuthenticate](https://developers.cchaxcess.com/api-details#api=172e8059a9964ddd8614d530b1dafa7e&operation=Authenticates-the-user---Azure \"view operation details\") endpoint. This type of authentication is only compatible with firms using [CCH Axcess login method]( https://z001download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_CCHLoginMode.htm \"view help article\"). While such firms **may** use the Security header, the Authorization header and [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115 \"view support article\") is recommended for all firms.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Updates List of Corporate Clients",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateCorporateClient"
                            },
                            "example": [
                                {
                                    "AccountId": 337733,
                                    "ClientTypeCode": "CR",
                                    "ReturnGroupCode": "",
                                    "OfficeName": "Main",
                                    "ClientStatusCode": 0,
                                    "NameLine1": "NameLine1",
                                    "NameLine2": "NameLine2",
                                    "PrimaryClientFlag": true,
                                    "AcquiredDateTime": "/Date( 1693387453 )/",
                                    "SubordinateDescription": "",
                                    "FederalTaxId": "99009990909",
                                    "StateTaxId": "456",
                                    "LocalTaxId": "321",
                                    "ClientClassCd": 2,
                                    "BusinessUnit": "",
                                    "CorpTypeCd": "CCRP",
                                    "PrincipalBusiness": "",
                                    "ClientId": "CORP230",
                                    "ClientSubordinateID": "",
                                    "ClientName": "Test",
                                    "ClientSortName": "Test Madhu",
                                    "OfficeGuid": "00000000-0000-0000-0000-000000000000",
                                    "BusinessUnitGUID": "00000000-0000-0000-0000-000000000000",
                                    "WebpageURL": "",
                                    "SalutationText": "Mr",
                                    "AttentionText": "Doctor",
                                    "CorrespondenceName": "",
                                    "IsFavorite": true,
                                    "FiscalPeriod": "1229",
                                    "NAIC": "212300",
                                    "IncorporatedState": "Alaska",
                                    "ProductService": "",
                                    "FirmRegionGuid": "00000000-0000-0000-0000-000000000000",
                                    "FirmLineOfBusinessGuid": "00000000-0000-0000-0000-000000000000",
                                    "FirmPrimaryServiceTypeGuid": "00000000-0000-0000-0000-000000000000",
                                    "ShareableFlag": true,
                                    "DelinquentFlag": true,
                                    "LastActiveDateTime": "/Date( 241554600000 )/",
                                    "LastInActiveDateTime": "/Date( 241554600000 )/",
                                    "LastOnHoldDateTime": "/Date( 241554600000 )/",
                                    "LastLitigationHoldDateTime": "/Date( 241554600000 )/",
                                    "TermDateTime": "/Date( 241554600000 )/",
                                    "Guid": "1627aea5-8e0a-4371-9022-9b504344e724"
                                }
                            ]
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "example": {
                                    "DetailedErrorMessage": "",
                                    "ErrorReport": {
                                        "Details": [
                                            {
                                                "__type": "Report:http://CCH.Pfx.TPI.SDK.Client/2010/06",
                                                "ErrorLevel": 2,
                                                "ErrorType": 0,
                                                "Messages": [
                                                    {
                                                        "ErrorCode": "",
                                                        "ErrorDescription": "Successfully updated."
                                                    }
                                                ],
                                                "RowNumber": 1,
                                                "ClientId": "string",
                                                "Guid": "00000000-0000-0000-0000-000000000000",
                                                "Id": "string",
                                                "SubId": "string"
                                            }
                                        ]
                                    },
                                    "FailedRecordCount": 0,
                                    "Message": "",
                                    "SucceededLevel": 0,
                                    "SucceededRecordCount": 1
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1.0/Client/Custom": {
            "post": {
                "summary": "Creates List of Custom Clients",
                "description": "Creates Custom Clients. Other type of clients like project ,vendor or any other custom client types should be part of this",
                "operationId": "Creates-Custom-Clients",
                "parameters": [
                    {
                        "name": "Integratorkey",
                        "in": "header",
                        "description": "Integratorkey/Subscription key in header.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "_Required_ when using [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115 \"view support article\") which is recommended for all firms. Firms using [Federation Services in CCH Axcess Login Options](https://z001download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_FederationServices.htm \"view help article\") **must** use OAuth 2.0 and the Authorization header. The header value is \"Bearer \" followed by the JWT access token.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Security",
                        "in": "header",
                        "description": "_Required_ when using the token returned by [AzureAuthenticate](https://developers.cchaxcess.com/api-details#api=172e8059a9964ddd8614d530b1dafa7e&operation=Authenticates-the-user---Azure \"view operation details\") endpoint. This type of authentication is only compatible with firms using [CCH Axcess login method]( https://z001download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_CCHLoginMode.htm \"view help article\"). While such firms **may** use the Security header, the Authorization header and [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115 \"view support article\") is recommended for all firms.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Creates List of Custom Clients",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateCustomClients"
                            },
                            "example": [
                                {
                                    "AccountId": 337733,
                                    "CustomClientTypeGuid": "6700e2bd-471e-4a8f-a4f1-fa79ee331c2b",
                                    "CustomClientSubTypeGuid": "00000000-0000-0000-0000-000000000000",
                                    "ClientTypeCode": "OT",
                                    "ReturnGroupCode": "",
                                    "OfficeName": "Main",
                                    "PrimaryClientFlag": true,
                                    "NameLine1": "NameLine1",
                                    "NameLine2": "NameLine2",
                                    "PlanNumber": "",
                                    "AcquiredDateTime": "/Date( 241554600000 )/",
                                    "SubordinateDescription": "",
                                    "TaxTypeCd": "CCRP",
                                    "OrganizationTypeCd": "A501c",
                                    "PartnerCount": 2,
                                    "BusinessUnit": "",
                                    "ClientId": "OTH193",
                                    "ClientName": "LAST, test",
                                    "ClientSortName": "Sortname",
                                    "ClientStatusCode": 0,
                                    "ClientSubordinateID": "",
                                    "OfficeGuid": "00000000-0000-0000-0000-000000000000",
                                    "BusinessUnitGUID": "00000000-0000-0000-0000-000000000000",
                                    "WebPageURL": "www.test.com",
                                    "SalutationText": "SalutationText",
                                    "AttentionText": "AttentionText",
                                    "CorrespondenceName": "CorrespondenceName",
                                    "PubliclyTradedFlag": true,
                                    "IncorporatedState": "Alaska",
                                    "NAIC": "111100",
                                    "SponsorNAIC": "111100",
                                    "Occupation": "String content",
                                    "SpouseOccupation": "String content",
                                    "PrincipalBusiness": "String content",
                                    "ProductService": "String content",
                                    "LastActiveDateTime": "/Date( 241554600000 )/",
                                    "LastInActiveDateTime": "/Date( 241554600000 )/",
                                    "LastOnHoldDateTime": "/Date( 241554600000 )/",
                                    "LastLitigationHoldDateTime": "/Date( 241554600000 )/",
                                    "DelinquentFlag": true,
                                    "ShareableFlag": true,
                                    "TermDateTime": "/Date( 241554600000 )/",
                                    "CustomDates": [
                                        {
                                            "CustomValue": "hlsgsfgf",
                                            "CustomCd": "CBD",
                                            "CustomDate": "/Date( 241554600000 )/",
                                            "IsNew": true,
                                            "DisplaySeqNo": 32767
                                        }
                                    ],
                                    "CustomNames": [
                                        {
                                            "CustomValue": "xccxc",
                                            "CustomCd": "EPN1",
                                            "CustomDate": "/Date( 241554600000 )/",
                                            "IsNew": true,
                                            "DisplaySeqNo": 32767
                                        }
                                    ],
                                    "SystemIDNumbers": [
                                        {
                                            "IsNew": true,
                                            "CustomCd": "CFD",
                                            "CustomValue": "asdad",
                                            "CustomDate": "/Date( 241554600000 )/",
                                            "DisplaySeqNo": 32767
                                        }
                                    ],
                                    "SpouseFirstName": "String content",
                                    "SpouseMiddleName": "String content",
                                    "SpouseLastName": "String content",
                                    "EmployeePlanSubEntityDetails": [
                                        {
                                            "WebPageURL": "WebPageURL",
                                            "AttentionText": "AttentionText content",
                                            "SalutationText": "SalutationText content",
                                            "EmployeePlanSubEntityTypeCd": "ADMIN"
                                        }
                                    ]
                                }
                            ]
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "example": {
                                    "DetailedErrorMessage": "",
                                    "ErrorReport": {
                                        "Details": [
                                            {
                                                "__type": "Report:http://CCH.Pfx.TPI.SDK.Client/2010/06",
                                                "ErrorLevel": 2,
                                                "ErrorType": 0,
                                                "Messages": [
                                                    {
                                                        "ErrorCode": "",
                                                        "ErrorDescription": "Successfully imported"
                                                    }
                                                ],
                                                "RowNumber": 1,
                                                "ClientId": "string",
                                                "Guid": "00000000-0000-0000-0000-000000000000",
                                                "Id": "string",
                                                "SubId": "string"
                                            }
                                        ]
                                    },
                                    "FailedRecordCount": 0,
                                    "Message": "",
                                    "SucceededLevel": 0,
                                    "SucceededRecordCount": 1
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Updates List of Custom Clients",
                "description": "Updates Custom Clients</br>\n\nClientId and Client SubId should match the client that need to be updated. For client which did not have subid the value should be empty.",
                "operationId": "Updates-Custom-Clients",
                "parameters": [
                    {
                        "name": "Integratorkey",
                        "in": "header",
                        "description": "Integratorkey/Subscription key in header.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "_Required_ when using [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115 \"view support article\") which is recommended for all firms. Firms using [Federation Services in CCH Axcess Login Options](https://z001download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_FederationServices.htm \"view help article\") **must** use OAuth 2.0 and the Authorization header. The header value is \"Bearer \" followed by the JWT access token.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Security",
                        "in": "header",
                        "description": "_Required_ when using the token returned by [AzureAuthenticate](https://developers.cchaxcess.com/api-details#api=172e8059a9964ddd8614d530b1dafa7e&operation=Authenticates-the-user---Azure \"view operation details\") endpoint. This type of authentication is only compatible with firms using [CCH Axcess login method]( https://z001download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_CCHLoginMode.htm \"view help article\"). While such firms **may** use the Security header, the Authorization header and [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115 \"view support article\") is recommended for all firms.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Updates List of Custom Clients",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateCustomClients"
                            },
                            "example": [
                                {
                                    "AccountId": 337733,
                                    "CustomClientTypeGuid": "6700e2bd-471e-4a8f-a4f1-fa79ee331c2b",
                                    "ClientTypeCode": "OT",
                                    "ReturnGroupCode": "",
                                    "OfficeName": "Main",
                                    "PrimaryClientFlag": true,
                                    "NameLine1": "NameLine1",
                                    "NameLine2": "NameLine2",
                                    "PlanNumber": "",
                                    "AcquiredDateTime": "/Date( 241554600000 )/",
                                    "SubordinateDescription": "",
                                    "TaxTypeCd": "CCRP",
                                    "OrganizationTypeCd": "A501c",
                                    "PartnerCount": 2,
                                    "BusinessUnit": "",
                                    "ClientId": "OTH199",
                                    "ClientName": "LAST, test",
                                    "ClientSortName": "Test",
                                    "ClientStatusCode": 0,
                                    "ClientSubordinateID": "",
                                    "OfficeGuid": "00000000-0000-0000-0000-000000000000",
                                    "BusinessUnitGUID": "00000000-0000-0000-0000-000000000000",
                                    "WebPageURL": "www.test.com",
                                    "SalutationText": "SalutationText",
                                    "AttentionText": "AttentionText",
                                    "CorrespondenceName": "CorrespondenceName",
                                    "PubliclyTradedFlag": true,
                                    "IncorporatedState": "Alaska",
                                    "NAIC": "111100",
                                    "SponsorNAIC": "111100",
                                    "Occupation": "String content",
                                    "SpouseOccupation": "String content",
                                    "PrincipalBusiness": "String content",
                                    "ProductService": "String content",
                                    "LastActiveDateTime": "/Date( 241554600000 )/",
                                    "LastInActiveDateTime": "/Date( 241554600000 )/",
                                    "LastOnHoldDateTime": "/Date( 241554600000 )/",
                                    "LastLitigationHoldDateTime": "/Date( 241554600000 )/",
                                    "DelinquentFlag": true,
                                    "ShareableFlag": true,
                                    "TermDateTime": "/Date( 241554600000 )/",
                                    "Guid": "1627aea5-8e0a-4371-9022-9b504344e724",
                                    "CustomDates": [
                                        {
                                            "CustomValue": "hlsgsfgf",
                                            "CustomCd": "CBD",
                                            "CustomDate": "/Date( 241554600000 )/",
                                            "IsNew": true,
                                            "DisplaySeqNo": 32767
                                        }
                                    ],
                                    "CustomNames": [
                                        {
                                            "CustomValue": "xccxc",
                                            "CustomCd": "EPN1",
                                            "CustomDate": "/Date( 241554600000 )/",
                                            "IsNew": true,
                                            "DisplaySeqNo": 32767
                                        }
                                    ],
                                    "SystemIDNumbers": [
                                        {
                                            "IsNew": true,
                                            "CustomCd": "CFD",
                                            "CustomValue": "asdad",
                                            "CustomDate": "/Date( 241554600000 )/",
                                            "DisplaySeqNo": 32767
                                        }
                                    ],
                                    "SpouseFirstName": "String content",
                                    "SpouseMiddleName": "String content",
                                    "SpouseLastName": "String content",
                                    "EmployeePlanSubEntityDetails": [
                                        {
                                            "WebPageURL": "WebPageURL",
                                            "AttentionText": "AttentionText content",
                                            "SalutationText": "SalutationText content",
                                            "EmployeePlanSubEntityTypeCd": "ADMIN"
                                        }
                                    ]
                                }
                            ]
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "example": {
                                    "DetailedErrorMessage": "",
                                    "ErrorReport": {
                                        "Details": [
                                            {
                                                "__type": "Report:http://CCH.Pfx.TPI.SDK.Client/2010/06",
                                                "ErrorLevel": 2,
                                                "ErrorType": 0,
                                                "Messages": [
                                                    {
                                                        "ErrorCode": "",
                                                        "ErrorDescription": "Successfully updated."
                                                    }
                                                ],
                                                "RowNumber": 1,
                                                "ClientId": "string",
                                                "Guid": "00000000-0000-0000-0000-000000000000",
                                                "Id": "string",
                                                "SubId": "string"
                                            }
                                        ]
                                    },
                                    "FailedRecordCount": 0,
                                    "Message": "",
                                    "SucceededLevel": 0,
                                    "SucceededRecordCount": 1
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1.0/Client/Email": {
            "post": {
                "summary": "Creates List of Client Email",
                "description": "Creates List of Email of Clients.",
                "operationId": "Creates-Client-Email",
                "parameters": [
                    {
                        "name": "Integratorkey",
                        "in": "header",
                        "description": "Integratorkey/Subscription key in header.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "_Required_ when using [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115 \"view support article\") which is recommended for all firms. Firms using [Federation Services in CCH Axcess Login Options](https://z001download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_FederationServices.htm \"view help article\") **must** use OAuth 2.0 and the Authorization header. The header value is \"Bearer \" followed by the JWT access token.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Security",
                        "in": "header",
                        "description": "_Required_ when using the token returned by [AzureAuthenticate](https://developers.cchaxcess.com/api-details#api=172e8059a9964ddd8614d530b1dafa7e&operation=Authenticates-the-user---Azure \"view operation details\") endpoint. This type of authentication is only compatible with firms using [CCH Axcess login method]( https://z001download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_CCHLoginMode.htm \"view help article\"). While such firms **may** use the Security header, the Authorization header and [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115 \"view support article\") is recommended for all firms.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Creates List of Client Email",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateClientEmail"
                            },
                            "example": {
                                "ClientEmail": [
                                    {
                                        "IsNew": true,
                                        "HasChanged": true,
                                        "EmailAddress": "abcde@wolterskluwer.com",
                                        "EmailType": "Business 2",
                                        "Status": true,
                                        "EmployeePlanSubEntityTypeCd": "ADMIN",
                                        "IsPrimary": true
                                    }
                                ],
                                "ClientId": "exm124",
                                "ClientSubordinateId": "subid"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "example": {
                                    "DetailedErrorMessage": "",
                                    "ErrorReport": {
                                        "Details": [
                                            {
                                                "__type": "Report:http://CCH.Pfx.TPI.SDK.Client/2010/06",
                                                "ErrorLevel": 2,
                                                "ErrorType": 0,
                                                "Messages": [
                                                    {
                                                        "ErrorCode": "",
                                                        "ErrorDescription": "Successfully updated."
                                                    }
                                                ],
                                                "RowNumber": 1,
                                                "ClientId": "string",
                                                "Guid": "00000000-0000-0000-0000-000000000000",
                                                "Id": "string",
                                                "SubId": "string"
                                            }
                                        ]
                                    },
                                    "FailedRecordCount": 0,
                                    "Message": "",
                                    "SucceededLevel": 0,
                                    "SucceededRecordCount": 1
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Updates List of Client Email",
                "description": "Updates Client Email.</br></br>\nClientId and Client SubId should match the client that need to be updated. For client which did not have subid the value should be empty.",
                "operationId": "Updates-Client-Email",
                "parameters": [
                    {
                        "name": "Integratorkey",
                        "in": "header",
                        "description": "Integratorkey/Subscription key in header.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "_Required_ when using [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115 \"view support article\") which is recommended for all firms. Firms using [Federation Services in CCH Axcess Login Options](https://z001download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_FederationServices.htm \"view help article\") **must** use OAuth 2.0 and the Authorization header. The header value is \"Bearer \" followed by the JWT access token.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Security",
                        "in": "header",
                        "description": "_Required_ when using the token returned by [AzureAuthenticate](https://developers.cchaxcess.com/api-details#api=172e8059a9964ddd8614d530b1dafa7e&operation=Authenticates-the-user---Azure \"view operation details\") endpoint. This type of authentication is only compatible with firms using [CCH Axcess login method]( https://z001download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_CCHLoginMode.htm \"view help article\"). While such firms **may** use the Security header, the Authorization header and [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115 \"view support article\") is recommended for all firms.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Updates List of Client Email",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateClientEmail"
                            },
                            "example": {
                                "ClientEmail": [
                                    {
                                        "IsNew": true,
                                        "EmailAddress": "abcde@wolterskluwer.com",
                                        "EmailType": "Business 2",
                                        "Status": true,
                                        "EmployeePlanSubEntityTypeCd": "ADMIN",
                                        "IsPrimary": true,
                                        "Guid": "1627aea5-8e0a-4371-9022-9b504344e724"
                                    }
                                ],
                                "ClientId": "exm124",
                                "ClientSubordinateId": "subid"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "example": {
                                    "DetailedErrorMessage": "",
                                    "ErrorReport": {
                                        "Details": [
                                            {
                                                "__type": "Report:http://CCH.Pfx.TPI.SDK.Client/2010/06",
                                                "ErrorLevel": 2,
                                                "ErrorType": 0,
                                                "Messages": [
                                                    {
                                                        "ErrorCode": "",
                                                        "ErrorDescription": "Successfully updated."
                                                    }
                                                ],
                                                "RowNumber": 1,
                                                "ClientId": "string",
                                                "Guid": "00000000-0000-0000-0000-000000000000",
                                                "Id": "string",
                                                "SubId": "string"
                                            }
                                        ]
                                    },
                                    "FailedRecordCount": 0,
                                    "Message": "",
                                    "SucceededLevel": 0,
                                    "SucceededRecordCount": 1
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1.0/Client/EmployeePlan": {
            "post": {
                "summary": "Creates List of Employee Plan Clients",
                "description": "Creates Employee Plan Clients. Employee plan clients typically refers to an individual who is a participant in an employee benefit plan offered by their employer, and they are seeking tax-related advice or services related to that plan. Employee benefit plans, including retirement plans and other tax-advantaged programs, can have significant tax implications for participants.<br/><br/>Available return types for  Employee Plan clients are  <br/> 1. 5500 Employee Benefit Plan. ",
                "operationId": "Creates-Employee-Plan-Clients",
                "parameters": [
                    {
                        "name": "Integratorkey",
                        "in": "header",
                        "description": "Integratorkey/Subscription key in header.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "_Required_ when using [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115 \"view support article\") which is recommended for all firms. Firms using [Federation Services in CCH Axcess Login Options](https://z001download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_FederationServices.htm \"view help article\") **must** use OAuth 2.0 and the Authorization header. The header value is \"Bearer \" followed by the JWT access token.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Security",
                        "in": "header",
                        "description": "_Required_ when using the token returned by [AzureAuthenticate](https://developers.cchaxcess.com/api-details#api=172e8059a9964ddd8614d530b1dafa7e&operation=Authenticates-the-user---Azure \"view operation details\") endpoint. This type of authentication is only compatible with firms using [CCH Axcess login method]( https://z001download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_CCHLoginMode.htm \"view help article\"). While such firms **may** use the Security header, the Authorization header and [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115 \"view support article\") is recommended for all firms.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Creates List of Employee Plan Clients",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateEmployeePlanClient"
                            },
                            "example": [
                                {
                                    "AccountId": 337733,
                                    "ClientId": "EP123",
                                    "ClientName": "test",
                                    "ClientTypeCode": "EP",
                                    "ClientSortName": "Sortname",
                                    "OfficeGuid": "00000000-0000-0000-0000-000000000000",
                                    "BusinessUnitGUID": "00000000-0000-0000-0000-000000000000",
                                    "FirmLineOfBusinessGuid": "00000000-0000-0000-0000-000000000000",
                                    "FirmPrimaryServiceTypeGuid": "00000000-0000-0000-0000-000000000000",
                                    "ClientSubordinateID": "subid",
                                    "SubordinateDescription": "Test",
                                    "CorrespondenceName": "CorrespondenceName",
                                    "FederalTaxId": "123",
                                    "StateTaxId": "456",
                                    "LocalTaxId": "789",
                                    "NAIC": "111100",
                                    "ReturnGroupCode": "Default",
                                    "PrimaryClientFlag": true,
                                    "SponsorEmployerNameLine1": "SponsorEmployerNameLine1",
                                    "SponsorEmployerNameLine2": "SponsorEmployerNameLine2",
                                    "OfficeName": "Main",
                                    "EmployeePlanSubEntityDetails": [
                                        {
                                            "WebPageURL": "WebPageURL",
                                            "AttentionText": "AttentionText content",
                                            "SalutationText": "SalutationText content",
                                            "EmployeePlanSubEntityTypeCd": "ADMIN"
                                        }
                                    ],
                                    "PlanEffectiveDtTm": "/Date( 1693387453 )/",
                                    "PlanNumber": "124",
                                    "PlanAdministratorFederalTaxID": "122",
                                    "PlanSponsorFederalTaxID": "122",
                                    "PlanNameLine1": "123",
                                    "PlanNameLine2": "1313",
                                    "PlanAdministratorName": "PlanAdministratorName",
                                    "AcquiredDateTime": "/Date( 1693387453 )/",
                                    "PlanSponsorNAIC": "111100",
                                    "EmployeePlanTimestamp": [
                                        81,
                                        109,
                                        70,
                                        122,
                                        90,
                                        83,
                                        65,
                                        50,
                                        78,
                                        67,
                                        66,
                                        84,
                                        100,
                                        72,
                                        74,
                                        108,
                                        89,
                                        87,
                                        48,
                                        61
                                    ],
                                    "SuccessFlag": true,
                                    "LastActiveDateTime": "/Date( 241554600000 )/",
                                    "LastInActiveDateTime": "/Date( 241554600000 )/",
                                    "LastOnHoldDateTime": "/Date( 241554600000 )/",
                                    "LastLitigationHoldDateTime": "/Date( 241554600000 )/",
                                    "DelinquentFlag": true,
                                    "ShareableFlag": true,
                                    "TermDateTime": "/Date( 241554600000 )/",
                                    "ExceptionMessages": [
                                        "String content"
                                    ]
                                }
                            ]
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "example": {
                                    "DetailedErrorMessage": "",
                                    "ErrorReport": {
                                        "Details": [
                                            {
                                                "__type": "Report:http://CCH.Pfx.TPI.SDK.Client/2010/06",
                                                "ErrorLevel": 2,
                                                "ErrorType": 0,
                                                "Messages": [
                                                    {
                                                        "ErrorCode": "",
                                                        "ErrorDescription": "Successfully imported"
                                                    }
                                                ],
                                                "RowNumber": 1,
                                                "ClientId": "string",
                                                "Guid": "00000000-0000-0000-0000-000000000000",
                                                "Id": "string",
                                                "SubId": "string"
                                            }
                                        ]
                                    },
                                    "FailedRecordCount": 0,
                                    "Message": "",
                                    "SucceededLevel": 0,
                                    "SucceededRecordCount": 1
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Updates List of Employee Plan Clients",
                "description": "Updates Employee Plan Clients </br>\n\nClientId and Client SubId should match the client that need to be updated. For client which did not have subid the value should be empty.",
                "operationId": "Updates-Employee-Plan-Clients",
                "parameters": [
                    {
                        "name": "Integratorkey",
                        "in": "header",
                        "description": "Integratorkey/Subscription key in header.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "_Required_ when using [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115 \"view support article\") which is recommended for all firms. Firms using [Federation Services in CCH Axcess Login Options](https://z001download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_FederationServices.htm \"view help article\") **must** use OAuth 2.0 and the Authorization header. The header value is \"Bearer \" followed by the JWT access token.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Security",
                        "in": "header",
                        "description": "_Required_ when using the token returned by [AzureAuthenticate](https://developers.cchaxcess.com/api-details#api=172e8059a9964ddd8614d530b1dafa7e&operation=Authenticates-the-user---Azure \"view operation details\") endpoint. This type of authentication is only compatible with firms using [CCH Axcess login method]( https://z001download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_CCHLoginMode.htm \"view help article\"). While such firms **may** use the Security header, the Authorization header and [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115 \"view support article\") is recommended for all firms.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Updates List of Employee Plan Clients",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateEmployeePlanClient"
                            },
                            "example": [
                                {
                                    "AccountId": 337733,
                                    "ClientId": "EP123",
                                    "ClientName": "test",
                                    "ClientTypeCode": "EP",
                                    "ClientSortName": "Sortname",
                                    "OfficeGuid": "00000000-0000-0000-0000-000000000000",
                                    "BusinessUnitGUID": "00000000-0000-0000-0000-000000000000",
                                    "FirmLineOfBusinessGuid": "00000000-0000-0000-0000-000000000000",
                                    "FirmPrimaryServiceTypeGuid": "00000000-0000-0000-0000-000000000000",
                                    "ClientSubordinateID": "subid",
                                    "SubordinateDescription": "Test",
                                    "CorrespondenceName": "CorrespondenceName",
                                    "FederalTaxId": "123",
                                    "StateTaxId": "456",
                                    "LocalTaxId": "789",
                                    "NAIC": "111100",
                                    "ReturnGroupCode": "Default",
                                    "PrimaryClientFlag": true,
                                    "SponsorEmployerNameLine1": "SponsorEmployerNameLine1",
                                    "SponsorEmployerNameLine2": "SponsorEmployerNameLine2",
                                    "OfficeName": "Main",
                                    "LastActiveDateTime": "/Date( 241554600000 )/",
                                    "LastInActiveDateTime": "/Date( 241554600000 )/",
                                    "LastOnHoldDateTime": "/Date( 241554600000 )/",
                                    "LastLitigationHoldDateTime": "/Date( 241554600000 )/",
                                    "DelinquentFlag": true,
                                    "ShareableFlag": true,
                                    "TermDateTime": "/Date( 241554600000 )/",
                                    "Guid": "1627aea5-8e0a-4371-9022-9b504344e724",
                                    "EmployeePlanSubEntityDetails": [
                                        {
                                            "WebPageURL": "WebPageURL",
                                            "AttentionText": "AttentionText content",
                                            "SalutationText": "SalutationText content",
                                            "EmployeePlanSubEntityTypeCd": "ADMIN"
                                        }
                                    ],
                                    "PlanEffectiveDtTm": "/Date( 1693387453 )/",
                                    "PlanNumber": "124",
                                    "PlanAdministratorFederalTaxID": "122",
                                    "PlanSponsorFederalTaxID": "122",
                                    "PlanNameLine1": "123",
                                    "PlanNameLine2": "1313",
                                    "PlanAdministratorName": "PlanAdministratorName",
                                    "AcquiredDateTime": "/Date( 1693387453 )/",
                                    "PlanSponsorNAIC": "111100",
                                    "EmployeePlanTimestamp": [
                                        81,
                                        109,
                                        70,
                                        122,
                                        90,
                                        83,
                                        65,
                                        50,
                                        78,
                                        67,
                                        66,
                                        84,
                                        100,
                                        72,
                                        74,
                                        108,
                                        89,
                                        87,
                                        48,
                                        61
                                    ],
                                    "SuccessFlag": true,
                                    "ExceptionMessages": [
                                        "String content"
                                    ]
                                }
                            ]
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "example": {
                                    "DetailedErrorMessage": "",
                                    "ErrorReport": {
                                        "Details": [
                                            {
                                                "__type": "Report:http://CCH.Pfx.TPI.SDK.Client/2010/06",
                                                "ErrorLevel": 2,
                                                "ErrorType": 0,
                                                "Messages": [
                                                    {
                                                        "ErrorCode": "",
                                                        "ErrorDescription": "Successfully updated."
                                                    }
                                                ],
[...]
