{
    "openapi": "3.0.1",
    "info": {
        "title": "Tax Services v2",
        "description": "Updated Tax Service API. This is the recommended API for working with tax returns. Some operations require additional licensing.",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.cchaxcess.com/taxservices/oiptax"
        },
        {
            "url": "https://api.cchaxcess.com/taxservices/oiptax"
        },
        {
            "url": "https://api.cchaxcess.com/taxservices/oiptax"
        },
        {
            "url": "https://api.cchaxcess.com/taxservices/oiptax"
        },
        {
            "url": "https://api.cchaxcess.com/taxservices/oiptax"
        },
        {
            "url": "https://api.cchaxcess.com/taxservices/oiptax"
        },
        {
            "url": "https://api.cchaxcess.com/taxservices/oiptax"
        }
    ],
    "paths": {
        "/api/v1/BatchEFileExtension": {
            "post": {
                "tags": [
                    "Adv Efile"
                ],
                "summary": "Submit a list of returns that have zero balance due for e-file extensions",
                "description": "<p>BatchEFileExtension allows users to upload up to 300 returns per batch to submit zero balance due extensions.  It duplicates the functionality available in Batch Manager - New Job - Electronic Filing - Extensions.</p>\r\n<p>Returns must be all of the same return type per batch submission.  Various options are available in the ConfigurationXML including printing, client profile data, and upload options.  Device ID and Serial Number need to be included in the submission and are specific to the machine sending the API request.</p>\r\n<p>If you select to do \"1040 with amounts\", the system will read the extension tax liability override amount in the return and set the payment equal to the liability to result in a $0 amount due extension.  It will NOT read the tax liability calculated in the return.</p>\r\n<p>This API operation requires the Advanced Tax Efile licensing, beyond the regular Tax API licensing. Please contact your Sales representative for further information and pricing.</p>",
                "operationId": "post-batch-efile-extension",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "_Required_ when using [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115\r\n                                \"view support article\"), which is recommended for all firms. Firms using [Federation Services in CCH Axcess Login Options](https://download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_FederationServices.htm \r\n                                \"view help article\") **must** use OAuth 2.0 and the Authorization header. Prefix the access token with **\"Bearer \"** keyword",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Security",
                        "in": "header",
                        "description": "_Required_ when using [CCH Axcess login method]( https://download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_CCHLoginMode.htm \r\n                              \"view help article\") with the token supplied by [AzureAuthenticate endpoint]( https://developers.cchaxcess.com/api-details#api=172e8059a9964ddd8614d530b1dafa7e&operation=Authenticates-the-user---Azure\r\n                              \"view operation details\").",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchEFileExtensionRequest"
                            },
                            "example": {
                                "ReturnId": [
                                    "2021I:TEST1:V1",
                                    "2021I:TEST2:V1"
                                ],
                                "ConfigurationXml": "<!--§§§ © 2014, CCH Incorporated. All rights reserved. §§§--><TaxReturnBatchEFileExtensionOptions><UnitSelection>FederalAndStates</UnitSelection><UploadOptions>UploadAndHold</UploadOptions><TaxReturnPrintClientDataOptions>KeepCurrentClientInformationInTaxReturn</TaxReturnPrintClientDataOptions><TaxReturnPrintCopyOption><PrintToPdf>true</PrintToPdf><Watermark>No Watermark</Watermark></TaxReturnPrintCopyOption><DeviceID>AB581749-75ED-11E7-80D6-C15C5F06004A</DeviceID><DeviceSerialNumber>0025_38C6_71B1_3490.</DeviceSerialNumber><ClientTimeZone>Central Standard Time</ClientTimeZone><Elf1040ExtWithAmount>false</Elf1040ExtWithAmount></TaxReturnBatchEFileExtensionOptions>"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful submission",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchSubmissionResponse"
                                },
                                "example": {
                                    "ExecutionID": "265118f1-c7fd-48d0-882e-831771eab1c7",
                                    "BatchFileResults": [
                                        {
                                            "IsError": false,
                                            "Messages": [
                                                "{ReturnId} submitted successfully."
                                            ],
                                            "SubItemExecutionIDs": [
                                                "85046d61-6a8d-4642-a57e-ee38a9896d25"
                                            ],
                                            "FileGroupID": 0
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. Validation exception. See content for more details"
                    },
                    "500": {
                        "description": "Internal Server Error. See content for more details"
                    }
                }
            }
        },
        "/api/v1/BatchItemLog": {
            "get": {
                "tags": [
                    "Batch Handling"
                ],
                "summary": "Retrieve the processing logs for a given batch item identifier.",
                "description": "<p>Various APIs (print, batch extension, return import, and return export) will return one batch GUID for the overall request and separate batch item GUIDs for each separate item processed within that overall batch.</p>\r\n<p>The batch job will have a general status.  Each batch item will have a separate status.  In the case of exceptions or failures, the details of the batch item status can help users understand the reason and potential resolution.</p>\r\n<p>These batch item details are also available when viewing the details job in the Batch Manager UI.</p>",
                "operationId": "get-batch-item-log",
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "**Required**.\r\n\r\n_Example:_ $filter=BatchItemGuid eq 'itemGuid' \r\n\r\n\r\nReplace `itemGuid` with valid value",
                        "schema": {
                            "type": "string"
                        },
                        "example": "$filter=BatchItemGuid eq 'itemGuid'"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "_Required_ when using [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115\r\n                                \"view support article\"), which is recommended for all firms. Firms using [Federation Services in CCH Axcess Login Options](https://download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_FederationServices.htm \r\n                                \"view help article\") **must** use OAuth 2.0 and the Authorization header. Prefix the access token with **\"Bearer \"** keyword",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Security",
                        "in": "header",
                        "description": "_Required_ when using [CCH Axcess login method]( https://download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_CCHLoginMode.htm \r\n                              \"view help article\") with the token supplied by [AzureAuthenticate endpoint]( https://developers.cchaxcess.com/api-details#api=172e8059a9964ddd8614d530b1dafa7e&operation=Authenticates-the-user---Azure\r\n                              \"view operation details\").",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Batch item log retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. Validation exception. See content for more details"
                    },
                    "404": {
                        "description": "Batch item log not found. When logs not ready/not supported for given batch type"
                    },
                    "500": {
                        "description": "Internal Server Error. See content for more details"
                    }
                }
            }
        },
        "/api/v1/BatchOutputDownloadFile": {
            "get": {
                "tags": [
                    "Batch Handling"
                ],
                "summary": "Stream the requested file.",
                "description": "<p>For batch jobs that have resulting files, this API will download those files.  Each batch item in a batch job will have a separate download.  The filename is retrieved using the BatchOutputFiles APIs.</p>\r\n<p>The batch guid, batch item guid, and filename will be submitted to this API for the download.  Files are automatically zipped and will need to be uncompressed after download.</p>",
                "operationId": "get-batch-output-download-files",
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "**Required**.\r\n\r\n_Example:_ $filter=BatchGuid eq 'batchGuid' and BatchItemGuid eq 'batchItemGuid' and FileName eq 'fileName'\r\n\r\n\r\nReplace `batchGuid`, `batchItemGuid` and `fileName` with valid value",
                        "schema": {
                            "type": "string"
                        },
                        "example": "$filter=BatchGuid eq 'batchGuid' and BatchItemGuid eq 'batchItemGuid' and FileName eq 'fileName'"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "_Required_ when using [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115\r\n                                \"view support article\"), which is recommended for all firms. Firms using [Federation Services in CCH Axcess Login Options](https://download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_FederationServices.htm \r\n                                \"view help article\") **must** use OAuth 2.0 and the Authorization header. Prefix the access token with **\"Bearer \"** keyword",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Security",
                        "in": "header",
                        "description": "_Required_ when using [CCH Axcess login method]( https://download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_CCHLoginMode.htm \r\n                              \"view help article\") with the token supplied by [AzureAuthenticate endpoint]( https://developers.cchaxcess.com/api-details#api=172e8059a9964ddd8614d530b1dafa7e&operation=Authenticates-the-user---Azure\r\n                              \"view operation details\").",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Content contains the stream file"
                    },
                    "400": {
                        "description": "Bad Request. Validation exception. See content for more details"
                    },
                    "404": {
                        "description": "File not found"
                    },
                    "500": {
                        "description": "Internal Server Error. See content for more details"
                    }
                }
            }
        },
        "/api/v1/BatchOutputFiles": {
            "get": {
                "tags": [
                    "Batch Handling"
                ],
                "summary": "Retrieve the list of batch item and the generated files for download for a given batch guid",
                "description": "<p>For batch jobs that have resulting files, BatchOutputFiles will pull the filenames specific to each batch job and batch item within that job.</p>\r\n<p>You submit the batch GUID for the job and will get back the list of batch item GUIDs and associated filenames.  These details will be used in the BatchOutputDownloadFile API to actually retrieve the files.</p>",
                "operationId": "get-batch-output-files",
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "**Required**.\r\n\r\n_Example:_ $filter=BatchGuid eq 'batchGuid'\r\n\r\n\r\nReplace `batchGuid` with valid value",
                        "schema": {
                            "type": "string"
                        },
                        "example": "$filter=BatchGuid eq 'batchGuid'"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "_Required_ when using [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115\r\n                                \"view support article\"), which is recommended for all firms. Firms using [Federation Services in CCH Axcess Login Options](https://download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_FederationServices.htm \r\n                                \"view help article\") **must** use OAuth 2.0 and the Authorization header. Prefix the access token with **\"Bearer \"** keyword",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Security",
                        "in": "header",
                        "description": "_Required_ when using [CCH Axcess login method]( https://download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_CCHLoginMode.htm \r\n                              \"view help article\") with the token supplied by [AzureAuthenticate endpoint]( https://developers.cchaxcess.com/api-details#api=172e8059a9964ddd8614d530b1dafa7e&operation=Authenticates-the-user---Azure\r\n                              \"view operation details\").",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of batch item guid and filenames retreived",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/BatchOutputFile"
                                    }
                                },
                                "example": [
                                    {
                                        "BatchItemGuid": "7bbeaf88-a2a7-4741-9625-c9058cff67c8",
                                        "FileName": "output.zip or 2020US Test Acct V1.pdf",
                                        "Length": "string"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. Validation exception"
                    },
                    "404": {
                        "description": "Files not found"
                    },
                    "500": {
                        "description": "Internal Server Error. See content for more details"
                    }
                }
            }
        },
        "/api/v1/BatchStatus": {
            "get": {
                "tags": [
                    "Batch Handling"
                ],
                "summary": "Check status of the submitted batch job",
                "description": "<p>This API will return the status of various batch jobs that are submitted.  You will receive a batch GUID returned from the source job.  That GUID is submitted to this API to check the status of the job.  Job completion times will vary based on the job type and number of records submitted for the job.</p>\r\n<p>It is recommend to not check batch job status more than every 1-2 mins for short running jobs or every 5-10 mins for longer jobs.  Return import and export jobs will complete faster than print jobs.  It is recommended to test a few jobs that you intend to submit to determine the best frequency for checking the status.</p>",
                "operationId": "get-batch-status",
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "**Required**.\r\n\r\n_Example:_ $filter=BatchGuid eq 'batchGuid'\r\n\r\n\r\nReplace `batchGuid` with valid value\r\n\r\n\r\n\r\nAdd _<b>Expand eq 'Items'</b>_ to include the item details\r\n\r\n_Example:_ $filter=BatchGuid eq 'batchGuid' and Expand eq 'Items'\r\n\r\n\r\nReplace `batchGuid` with valid value",
                        "schema": {
                            "type": "string"
                        },
                        "example": "$filter=BatchGuid eq 'batchGuid'"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "_Required_ when using [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115\r\n                                \"view support article\"), which is recommended for all firms. Firms using [Federation Services in CCH Axcess Login Options](https://download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_FederationServices.htm \r\n                                \"view help article\") **must** use OAuth 2.0 and the Authorization header. Prefix the access token with **\"Bearer \"** keyword",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Security",
                        "in": "header",
                        "description": "_Required_ when using [CCH Axcess login method]( https://download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_CCHLoginMode.htm \r\n                              \"view help article\") with the token supplied by [AzureAuthenticate endpoint]( https://developers.cchaxcess.com/api-details#api=172e8059a9964ddd8614d530b1dafa7e&operation=Authenticates-the-user---Azure\r\n                              \"view operation details\").",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Batch details retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchStatusResponse"
                                },
                                "example": {
                                    "BatchStatus": "BAINS",
                                    "BatchStatusDescription": "Complete",
                                    "Items": [
                                        {
                                            "ItemGuid": "61d413c9-136f-4dfe-8ff5-f51efe137033",
                                            "ItemStatusCode": "BIUNP",
                                            "ItemStatusDescription": "Complete",
                                            "ResponseCode": "RCS",
                                            "ResponseDescription": "Succeeded",
                                            "ReturnInfo": {
                                                "ReturnId": "string",
                                                "ClientId": "string",
                                                "OfficeName": "string"
                                            },
                                            "AdditionalInfo": [
                                                {
                                                    "Key": "string",
                                                    "Value": "string"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. Validation exception. See content for more details"
                    },
                    "404": {
                        "description": "Batch not found"
                    },
                    "500": {
                        "description": "Internal Server Error. See content for more details"
                    }
                }
            }
        },
        "/api/v1/CalculateReturn": {
            "post": {
                "tags": [
                    "Tax admin"
                ],
                "summary": "Submit a list of returns for calculation",
                "description": "<p>Calculating returns will update the government form output based on data in the worksheet inputs.  This operation allows you to submit batches of returns to be calculated.  The response body provides a batch GUID that allows you to check the status of the job using the BatchStatus operation.</p>",
                "operationId": "post-calculate-return",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "_Required_ when using [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115\r\n                                \"view support article\"), which is recommended for all firms. Firms using [Federation Services in CCH Axcess Login Options](https://download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_FederationServices.htm \r\n                                \"view help article\") **must** use OAuth 2.0 and the Authorization header. Prefix the access token with **\"Bearer \"** keyword",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Security",
                        "in": "header",
                        "description": "_Required_ when using [CCH Axcess login method]( https://download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_CCHLoginMode.htm \r\n                              \"view help article\") with the token supplied by [AzureAuthenticate endpoint]( https://developers.cchaxcess.com/api-details#api=172e8059a9964ddd8614d530b1dafa7e&operation=Authenticates-the-user---Azure\r\n                              \"view operation details\").",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CalculateReturnRequest"
                            },
                            "example": {
                                "ReturnId": [
                                    "2021I:TEST1:V1",
                                    "2021I:TEST2:V1"
                                ],
                                "ConfigurationXml": "<TaxCalculateReturnOptions><TaxReturnClientDataOptions>KeepCurrentClientInformationInTaxReturn</TaxReturnClientDataOptions><TaxReturnCalcAuthorizationOptions>ApplyAuthorizationsIfNeeded</TaxReturnCalcAuthorizationOptions></TaxCalculateReturnOptions>"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful submission",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchSubmissionResponse"
                                },
                                "example": {
                                    "ExecutionID": "265118f1-c7fd-48d0-882e-831771eab1c7",
                                    "BatchFileResults": [
                                        {
                                            "IsError": false,
                                            "Messages": [
                                                "{ReturnId} submitted successfully."
                                            ],
                                            "SubItemExecutionIDs": [
                                                "85046d61-6a8d-4642-a57e-ee38a9896d25"
                                            ],
                                            "FileGroupID": 0
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. All returns in the list failed the validation. See content for more details"
                    },
                    "500": {
                        "description": "Internal Server Error. See content for more details"
                    }
                }
            }
        },
        "/api/v1/ELFReleaseCandidates": {
            "get": {
                "tags": [
                    "Adv Efile"
                ],
                "summary": "Retrieve a list of e-file units and their corresponding status",
                "description": "<p>This API operation retrieves the tax authorities submitted for e-file. Each e-file unit will have a corresponding Status Code. Definitions for each code is listed in the <a href=\"https://support.cch.com/oss/ml/kb/solution/000268618\" target=\"_blank\">eFile Status API Reference Values</a> support article.</p>\r\n<p>E-file units that are <b>\"Ready to Release\"</b> (Status Code: 120) can be used in the <a href=\"https://developers.cchaxcess.com/api-details#api=oip-tax-service&operation=post-elf-release-returns\" target=\"_blank\">ELFReleaseReturns</a> endpoint to transmit to tax authorities.</p>\r\n<p>This API operation requires the Advanced Tax Efile licensing, beyond the regular Tax API licensing. Please contact your Sales representative for further information and pricing.</p>",
                "operationId": "get-elf-release-candidate",
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "**Required**\r\n\r\n_Example:_ $filter=ReturnID eq 'returnId' and ClientGuid eq 'clientGuid' and ExportCategory eq 'exportCategory'\r\n\r\n\r\nReplace `returnId`, `clientGuid` and `exportCategory` with valid value\r\n<p>Export category can be <b>Return</b>, <b>Extensions</b>, or <b>ForeignBank</b></p>",
                        "schema": {
                            "type": "string"
                        },
                        "example": "$filter=ReturnID eq 'returnId' and ClientGuid eq 'clientGuid' and ExportCategory eq 'exportCategory'"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "_Required_ when using [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115\r\n                                \"view support article\"), which is recommended for all firms. Firms using [Federation Services in CCH Axcess Login Options](https://download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_FederationServices.htm \r\n                                \"view help article\") **must** use OAuth 2.0 and the Authorization header. Prefix the access token with **\"Bearer \"** keyword",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Security",
                        "in": "header",
                        "description": "_Required_ when using [CCH Axcess login method]( https://download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_CCHLoginMode.htm \r\n                              \"view help article\") with the token supplied by [AzureAuthenticate endpoint]( https://developers.cchaxcess.com/api-details#api=172e8059a9964ddd8614d530b1dafa7e&operation=Authenticates-the-user---Azure\r\n                              \"view operation details\").",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of ready to release e-file units retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ElfReleaseCandidatesResponse"
                                },
                                "example": {
                                    "HasError": false,
                                    "ErrorMessage": "",
                                    "ReleaseCandidates": [
                                        {
                                            "ReturnUnitKeyGuid": "9cacdec0-19a2-4af1-9781-0894f597a66e",
                                            "Units": [
                                                "NY (120)"
                                            ],
                                            "UploadHistoryGuid": "4cf77060-86d6-4fa8-bff0-ace5666bcb20",
                                            "UploadHistoryKey": 1234
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error. See content for more details"
                    }
                }
            }
        },
        "/api/v1/ELFReleaseReturns": {
            "post": {
                "tags": [
                    "Adv Efile"
                ],
                "summary": "Submit the e-file release candidates to E-File system for releasing to IRS",
                "description": "<p>For returns and extensions that have been exported for electronic filing and are in a Ready to Release status, this API operation is the final step in releasing the return/extension for transmission to the tax authorities.</p>\r\n<p>The API operation releases a specific return based on the data provided.  The details required for this API operation are retrieved using the ELFReleaseCandidates endpoint.</p>\r\n<p>This API operation requires the Advanced Tax Efile licensing, beyond the regular Tax API licensing. Please contact your Sales representative for further information and pricing.</p>",
                "operationId": "post-elf-release-returns",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "_Required_ when using [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115\r\n                                \"view support article\"), which is recommended for all firms. Firms using [Federation Services in CCH Axcess Login Options](https://download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_FederationServices.htm \r\n                                \"view help article\") **must** use OAuth 2.0 and the Authorization header. Prefix the access token with **\"Bearer \"** keyword",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Security",
                        "in": "header",
                        "description": "_Required_ when using [CCH Axcess login method]( https://download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_CCHLoginMode.htm \r\n                              \"view help article\") with the token supplied by [AzureAuthenticate endpoint]( https://developers.cchaxcess.com/api-details#api=172e8059a9964ddd8614d530b1dafa7e&operation=Authenticates-the-user---Azure\r\n                              \"view operation details\").",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ElfReleaseReturnsRequest"
                            },
                            "example": {
                                "ReturnUnitKeyGuid": "8393651c-59e1-40c0-8d45-dded6e935581",
                                "UploadHistoryGuid": "c3c2f7c8-2692-484c-a43e-a05b61def459",
                                "UploadHistoryKey": 123456
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful submission",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ElfReleaseReturnsResponse"
                                },
                                "example": {
                                    "HasError": true,
                                    "ErrorMessage": ""
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. See content for more details"
                    },
                    "500": {
                        "description": "Internal Server Error. See content for more details"
                    }
                }
            }
        },
        "/api/v1/ELFReturnUnits": {
            "get": {
                "tags": [
                    "Adv Efile"
                ],
                "summary": "Retrieve the list of tax authorities for a given return.",
                "description": "<p>When uploading returns for electronic filing, it is important to know which tax authorities are in a return and qualified for electronic filing.  This is the first step in the electronic filing upload process.</p>\r\n<p>This API operation is provided a return ID and type of return to be filed.  It will return the available units (tax authorities) and their qualified status.  If certain units are disqualified or not available, they cannot be submitted in the next API operation in the series to complete the upload process.</p>\r\n<p>The ExportType can be Return, Extension, or Foreign Bank.  Each of these types will have different diagnostics that could need to be cleared in the return to qualify them for electronic filing.  Just because one export type is qualified for a specific tax authority unit, it doesn't mean that other export types will be qualified.</p>\r\n<p>This API operation requires the Advanced Tax Efile licensing, beyond the regular Tax API licensing. Please contact your Sales representative for further information and pricing.</p>",
                "operationId": "get-elf-return-units",
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "**Required**.\r\n\r\n_Example:_ $filter=ReturnID eq 'returnId' and ExportCategory eq 'exportCategory'\r\n\r\n\r\nReplace `returnId` and `exportCategory` with valid value\r\n\r\n\r\nExport category can be **Return**, **Extensions**, or **ForeignBank**",
                        "schema": {
                            "type": "string"
                        },
                        "example": "$filter=ReturnID eq 'returnId' and ExportCategory eq 'exportCategory'"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "_Required_ when using [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115\r\n                                \"view support article\"), which is recommended for all firms. Firms using [Federation Services in CCH Axcess Login Options](https://download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_FederationServices.htm \r\n                                \"view help article\") **must** use OAuth 2.0 and the Authorization header. Prefix the access token with **\"Bearer \"** keyword",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Security",
                        "in": "header",
                        "description": "_Required_ when using [CCH Axcess login method]( https://download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_CCHLoginMode.htm \r\n                              \"view help article\") with the token supplied by [AzureAuthenticate endpoint]( https://developers.cchaxcess.com/api-details#api=172e8059a9964ddd8614d530b1dafa7e&operation=Authenticates-the-user---Azure\r\n                              \"view operation details\").",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of return units retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ReturnUnits"
                                    }
                                },
                                "example": [
                                    {
                                        "UnitName": "Federal 4868",
                                        "UnitStatus": "Qualified",
                                        "PreviousFillingStatus": "Ready to Release by Customer"
                                    }
                                ]
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error. See content for more details"
                    }
                }
            }
        },
        "/api/v1/ElfStatus": {
            "get": {
                "tags": [
                    "Efile"
                ],
                "summary": "Retrieve the status of the e-filed returns",
                "description": "<p>This API operation retrieves the status point changes for a list of client or  return IDs.</p>\r\n<p>Status record uniqueness is determined by considering Return ID, Unit (tax authority), Type of Return, and Category of Return.  For a detail list of values, please visit <a href=\"https://support.cch.com/kb/solution/000268618\">support article</a>.</p>\r\n<p>ELF Status updates are published every 15 mins.  The ELF Status details can be retrieved up to the prior 90 days.</p>\r\n<p>This API operation requires the Advanced Tax Efile licensing, beyond the regular Tax API licensing. Please contact your Sales representative for further information and pricing.</p>",
                "operationId": "get-elf-status",
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "**Required**.\r\n\r\n_Example 1:_ Using return Id \r\n\r\n$filter=ReturnID eq 'returnId'\r\n\r\n\r\nReplace `returnId` with valid value\r\n\r\n\r\n_Example 2:_ Using client Id\r\n\r\n$filter=ClientID eq 'clientId'\r\n\r\n\r\nReplace `clientId` with valid value\r\n\r\n\r\n_Example 3:_ Using return Id and last date called \r\n\r\n$filter=ReturnID eq 'returnId' and LastDateTimeCalled eq {date}\r\n\r\n\r\nReplace `returnId` and `{date}` with valid value\r\n\r\n\r\n_Example 4:_ Using client Id and last date called \r\n\r\n$filter=ClientID eq 'clientId' and LastDateTimeCalled eq {date}\r\n\r\n\r\nReplace `clientId` and `{date}` with valid value\r\n\r\n",
                        "schema": {
                            "type": "string"
                        },
                        "example": "$filter=ReturnID eq 'returnId'"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Optional.\r\n\r\n_Example:_ $skip={skip}\r\n\r\n\r\nReplace `{skip}` with actual value. Default value is 1",
                        "schema": {
                            "type": "string"
                        },
                        "example": "$skip={skip}"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Optional.\r\n\r\n_Example:_ $top={top}\r\n\r\n\r\nReplace `{top}` with actual value. Default value is 500.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "$top={top}"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "_Required_ when using [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115\r\n                                \"view support article\"), which is recommended for all firms. Firms using [Federation Services in CCH Axcess Login Options](https://download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_FederationServices.htm \r\n                                \"view help article\") **must** use OAuth 2.0 and the Authorization header. Prefix the access token with **\"Bearer \"** keyword",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Security",
                        "in": "header",
                        "description": "_Required_ when using [CCH Axcess login method]( https://download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_CCHLoginMode.htm \r\n                              \"view help article\") with the token supplied by [AzureAuthenticate endpoint]( https://developers.cchaxcess.com/api-details#api=172e8059a9964ddd8614d530b1dafa7e&operation=Authenticates-the-user---Azure\r\n                              \"view operation details\").",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "E-File status retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ElfStatusResponse"
                                },
                                "example": {
                                    "ElfSDKStatus": "None",
                                    "ElfStatusList": [
                                        {
                                            "AccountNo": 0,
                                            "BankInfo": "N",
                                            "CalcVersion": "2021.03040",
                                            "CategoryofReturn": "1",
                                            "DueDate": "2022-04-18T12:00:00.0000000+00:00",
                                            "EinSsn": "",
                                            "ElecDebitElecDeposit": "N",
                                            "ElecDebitElecDepositAmount": 0,
                                            "ESign": "N",
                                            "FBarBsaID": "",
                                            "FiscalYearBeginDate": "2021-01-01T12:00:00.0000000+00:00",
                                            "FiscalYearEndDate": "2021-12-31T12:00:00.0000000+00:00",
                                            "RecordCount": 15,
                                            "RefundDue": 0,
                                            "ReturnGuid": "0b503fab-c3cb-48df-8bae-da0889660952",
                                            "ReturnId": "2021I:TEST:V1",
                                            "SignFormReceivedDate": "0001-01-01T12:00:00.0000000+00:00",
                                            "Source": "NGX",
                                            "Status": 120,
                                            "StatusDate": "2022-04-25T02:29:16.0000000+00:00",
                                            "SubmissionID": "",
                                            "SummaryStatus": "Exported",
                                            "Tin": "*****1234",
                                            "TypeOfReturn": 4,
                                            "Unit": "FD",
                                            "UnitType": "F"
                                        }
                                    ],
                                    "Error": {
                                        "ErrorCode": "string",
                                        "ErrorDescription": "string"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "E-File status not found"
                    },
                    "500": {
                        "description": "Internal Server Error. See content for more details"
                    }
                }
            }
        },
        "/api/v1/ELFUploadAndHold": {
            "post": {
                "tags": [
                    "Adv Efile"
                ],
                "summary": "Upload the return units to E-File System and hold it there for releasing later to taxing authority.",
                "description": "<p>To begin the upload and hold process, you will need to know the tax authority units that can be transmitted.  You would get these units from the ELFReturnUnits endpoint.  Once you know which units qualified for electronic filing, you need to submit the request to upload the file.  This is the second step in the overall upload process.</p>\r\n<p>The ExportType can be Return, Extension, or Foreign Bank.  Each of these types will have different diagnostics that could need to be cleared in the return to qualify them for electronic filing.  Just because one export type is qualified for a specific tax authority unit, it doesn't mean that other export types will be qualified.</p>\r\n<p>As part of the upload and hold process, you will need to also include the DeviceID and DiskDriveSerialNumber of the machine that is making the API call for the upload process.  The IP address needs to be the external IP for the machine making the API calls.</p>\r\n<p>After submitting the upload request, you would check the status with the ELFUploadStatus call, using the session GUID provided in the response to the call.  If compliance messages are present in the ELFUploadStatus call, those need to be added to a new ELFUploadAndHold call with the compliance message included and answered.  There can be multiple compliance messages required to be included, so you may need to loop through the process until no compliance messages appear in the ELFUploadStatus response.</p>\r\n<p>This API operation requires the Advanced Tax Efile licensing, beyond the regular Tax API licensing. Please contact your Sales representative for further information and pricing.</p>",
                "operationId": "post-elf-upload-and-hold",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "_Required_ when using [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115\r\n                                \"view support article\"), which is recommended for all firms. Firms using [Federation Services in CCH Axcess Login Options](https://download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_FederationServices.htm \r\n                                \"view help article\") **must** use OAuth 2.0 and the Authorization header. Prefix the access token with **\"Bearer \"** keyword",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Security",
                        "in": "header",
                        "description": "_Required_ when using [CCH Axcess login method]( https://download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_CCHLoginMode.htm \r\n                              \"view help article\") with the token supplied by [AzureAuthenticate endpoint]( https://developers.cchaxcess.com/api-details#api=172e8059a9964ddd8614d530b1dafa7e&operation=Authenticates-the-user---Azure\r\n                              \"view operation details\").",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ElfUploadAndHoldRequest"
                            },
                            "example": {
                                "ReturnID": "2021I:TEST1:V1",
                                "ClientGuid": "45d800b65578422a835f5417bc9be5d0",
                                "ClientIPAddress": "10.10.10.1",
                                "DeviceID": "AB581749-75ED-11E7-80D6-C15C5F06004A",
                                "DiskDriveSerialNumber": "1234_56C7_89B0_1234",
                                "UnitCodes": [
                                    "New York Extension"
                                ],
                                "ExportType": "Extensions",
                                "ModeID": "string",
                                "ComplianceMessageResponses": [
                                    {
                                        "MessageIndex": 0,
                                        "Title": "NY Compliance Message",
                                        "Message": "",
                                        "MessageOptions": 0,
                                        "MessageType": 0,
                                        "MessageAccepted": true,
                                        "UserInput": 0
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful submission.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string",
                                    "format": "uuid"
                                },
                                "example": "string"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error. See content for more details"
                    }
                }
            }
        },
        "/api/v1/ELFUploadStatus": {
            "get": {
                "tags": [
                    "Adv Efile"
                ],
                "summary": "Retrieve the status of upload and hold e-file request.",
                "description": "<p>Once a return has been submitted for upload and hold, you need to check the status of the job.  This is the last step in the upload process.  If there are problems with return, it would fail to load into the ELF Status system to be available for release to tax authorities.</p>\r\n<p>This API operation takes the session GUID from the ELFUploadAndHold response and provides the status of the upload request.  You may need to make repeated calls while the return is being processed until you get the final success/failure message.</p>\r\n<p>It is recommended to not make more than 1 call per minute per upload return request.  The time to complete the upload will be directly proportional to the overall size of the return and number of tax authorities being included in the filing.</p>\r\n<p>If compliance messages are returned in the response, these messages need to be added to the ELFUploadAndHold request with the proper message responses.  There can be multiple compliance messages for a single return upload.  The process will only return one at a time, so you may need to loop through the ELFUploadAndHold and ELFUploadStatus calls until no compliance messages are received.</p>\r\n<p>This API operation requires the Advanced Tax Efile licensing, beyond the regular Tax API licensing. Please contact your Sales representative for further information and pricing.</p>",
                "operationId": "get-elf-upload-status",
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "**Required**.\r\n\r\n_Example:_ $filter=SessionGuid eq 'sessionGuid'\r\n\r\n\r\nReplace `sessionGuid` with valid value",
                        "schema": {
                            "type": "string"
                        },
                        "example": "$filter=SessionGuid eq 'sessionGuid'"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "_Required_ when using [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115\r\n                                \"view support article\"), which is recommended for all firms. Firms using [Federation Services in CCH Axcess Login Options](https://download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_FederationServices.htm \r\n                                \"view help article\") **must** use OAuth 2.0 and the Authorization header. Prefix the access token with **\"Bearer \"** keyword",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Security",
                        "in": "header",
                        "description": "_Required_ when using [CCH Axcess login method]( https://download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_CCHLoginMode.htm \r\n                              \"view help article\") with the token supplied by [AzureAuthenticate endpoint]( https://developers.cchaxcess.com/api-details#api=172e8059a9964ddd8614d530b1dafa7e&operation=Authenticates-the-user---Azure\r\n                              \"view operation details\").",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "E-File upload status retrieved.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ElfUploadStatusResponse"
                                },
                                "example": {
                                    "HasError": false,
                                    "PercentageCompleted": 100,
                                    "ELFUploadStatus": 4,
                                    "ErrorMessage": "Compliance message encountered",
                                    "ComplianceMessages": [
                                        {
                                            "MessageIndex": 0,
                                            "Title": "NY Compliance Message",
                                            "Message": "",
                                            "MessageOptions": 0,
                                            "MessageType": 0
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Upload and hold status not found."
                    },
                    "500": {
                        "description": "Internal Server Error. See content for more details"
                    }
                }
            }
        },
        "/api/v1/PrintBatch": {
            "post": {
                "tags": [
                    "Adv Print"
                ],
                "summary": "Submit a list of returns for print.",
                "description": "<p>The Print Batch API follows the logic that is presented when using the Batch Manager - New Job - Print.  The return list needs to contain returns from the same tax year, but can include multiple tax return types.  The print options will vary by print type: returns, organizers, first extensions, and second extensions.  Please refer to the options XML files created in the Tax Plus Sample application for selection and formatting of the ConfigurationXml.</p>\r\n<p>This API operation requires the Advanced Tax Print licensing, beyond the regular Tax API licensing. Please contact your Sales representative for further information and pricing.</p>",
                "operationId": "post-print-batch",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "_Required_ when using [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115\r\n                                \"view support article\"), which is recommended for all firms. Firms using [Federation Services in CCH Axcess Login Options](https://download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_FederationServices.htm \r\n                                \"view help article\") **must** use OAuth 2.0 and the Authorization header. Prefix the access token with **\"Bearer \"** keyword",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Security",
                        "in": "header",
                        "description": "_Required_ when using [CCH Axcess login method]( https://download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_CCHLoginMode.htm \r\n                              \"view help article\") with the token supplied by [AzureAuthenticate endpoint]( https://developers.cchaxcess.com/api-details#api=172e8059a9964ddd8614d530b1dafa7e&operation=Authenticates-the-user---Azure\r\n                              \"view operation details\").",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PrintBatchRequest"
                            },
                            "example": {
                                "ReturnId": [
                                    "2021I:TEST1:V1",
                                    "2021I:TEST2:V1"
                                ],
                                "ConfigurationXml": "<!--§§§ © 2014, CCH Incorporated. All rights reserved. §§§--><TaxReturnBatchPrintEntireReturn><TaxReturnPrintClientDataOptions>KeepCurrentClientInformationInTaxReturn</TaxReturnPrintClientDataOptions><ReturnAuthorizationOptions>ApplyAuthorizationsIfNeeded</ReturnAuthorizationOptions><PrintsetName>Default</PrintsetName><PrintEntireReturnOptions><PrintOneStatementPerPage>false</PrintOneStatementPerPage><CreateSeparateFiles>false</CreateSeparateFiles><PrintStatementsBehindForms>false</PrintStatementsBehindForms><DiagnosticsPrintFilter>AllDiagnostics</DiagnosticsPrintFilter><CreateSeparateK1PDFFiles>false</CreateSeparateK1PDFFiles><PrintOptions_AccountantCopy><PrintToPdf>true</PrintToPdf><Watermark>No Watermark</Watermark><PrintTickmarks>false</PrintTickmarks><IsMasked>false</IsMasked><IncludeEFileAttachment>false</IncludeEFileAttachment></PrintOptions_AccountantCopy></PrintEntireReturnOptions></TaxReturnBatchPrintEntireReturn>"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful submission",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchSubmissionResponse"
                                },
                                "example": {
                                    "ExecutionID": "265118f1-c7fd-48d0-882e-831771eab1c7",
                                    "BatchFileResults": [
                                        {
                                            "IsError": false,
                                            "Messages": [
                                                "{ReturnId} submitted successfully."
                                            ],
                                            "SubItemExecutionIDs": [
                                                "85046d61-6a8d-4642-a57e-ee38a9896d25"
                                            ],
                                            "FileGroupID": 0
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. All returns in the list failed the validation. See content for more details"
                    },
                    "500": {
                        "description": "Internal Server Error. See content for more details"
                    }
                }
            }
        },
        "/api/v1/PrintSets": {
            "get": {
                "tags": [
                    "Adv Print"
                ],
                "summary": "Retrieve the list of the print sets on a given tax year.",
                "description": "<p>Retrieve the list of print sets that would be submitted as part of the PrintBatch operation.</p>\r\n<p>Print sets can be created and configured in the CCH Axcess Dashboard user interface.  They control whether specific pages present in a return are printed or suppressed.  They also provide the ability to change the order in which pages are organized within the printed output.  Every account will have at least a \"default\" print set.  Account administrators can create additional print sets as needed.</p>\r\n<p>This API operation requires the Advanced Tax Print licensing, beyond the regular Tax API licensing. Please contact your Sales representative for further information and pricing.</p>\r\n<p></p>",
                "operationId": "get-print-sets",
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "**Required**.\r\n\r\n_Example:_ $filter=TaxYear eq '{taxYear}' and PrintsetType eq '{printsetType}'\r\n\r\n\r\nReplace `{taxYear}` and `{printsetType}` with valid value\r\n\r\n\r\nPrintsetType can be either **TaxPrintset** or **OrganizerPrintset**",
                        "schema": {
                            "type": "string"
                        },
                        "example": "$filter=TaxYear eq '{taxYear}' and PrintsetType eq '{printsetType}'"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "_Required_ when using [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115\r\n                                \"view support article\"), which is recommended for all firms. Firms using [Federation Services in CCH Axcess Login Options](https://download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_FederationServices.htm \r\n                                \"view help article\") **must** use OAuth 2.0 and the Authorization header. Prefix the access token with **\"Bearer \"** keyword",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Security",
                        "in": "header",
                        "description": "_Required_ when using [CCH Axcess login method]( https://download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_CCHLoginMode.htm \r\n                              \"view help article\") with the token supplied by [AzureAuthenticate endpoint]( https://developers.cchaxcess.com/api-details#api=172e8059a9964ddd8614d530b1dafa7e&operation=Authenticates-the-user---Azure\r\n                              \"view operation details\").",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of print sets retrieved.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/PrintSets"
                                    }
                                },
                                "example": [
                                    {
                                        "Name": "Default",
                                        "ID": "1",
                                        "Guid": "cef7236a-4c1f-4d77-a805-bc577726beee"
                                    }
                                ]
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error. See content for more details"
                    }
                }
            }
        },
        "/api/v1/ReturnConfiguration": {
            "get": {
                "tags": [
                    "Tax admin"
                ],
                "summary": "Retrieve the list of the return configuration sets that are setup for the firm.",
                "description": "<p>Retrieve the list of return configuration sets for the account.  The return configuration sets contain various options and common information for tax returns.</p>\r\n<p>Each tax return will be assigned to a configuration set.  This will be assigned during return creation.  Returns can be created manually in the user interface or by submit the appropriate data through the POST BatchReturnImport operation.  Returns rolled forward will use the same return configuration set as the prior year return.</p>\r\n<p>The configuration set can be changed after the return exists.  This can be done in the Return Manager interface or using the PUT BatchReturnImport operation.</p>",
                "operationId": "get-return-configuration",
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "_Optional_.\r\n\r\n_Example:_ $filter=Name eq 'rcsName'\r\n\r\n\r\nReplace `rcsName` with valid value\r\n<p>When filter is used, it will return the matching name of return configuration set</p>",
                        "schema": {
                            "type": "string"
                        },
                        "example": "$filter=Name eq 'rcsName'"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "_Required_ when using [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115\r\n                                \"view support article\"), which is recommended for all firms. Firms using [Federation Services in CCH Axcess Login Options](https://download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_FederationServices.htm \r\n                                \"view help article\") **must** use OAuth 2.0 and the Authorization header. Prefix the access token with **\"Bearer \"** keyword",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Security",
                        "in": "header",
                        "description": "_Required_ when using [CCH Axcess login method]( https://download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_CCHLoginMode.htm \r\n                              \"view help article\") with the token supplied by [AzureAuthenticate endpoint]( https://developers.cchaxcess.com/api-details#api=172e8059a9964ddd8614d530b1dafa7e&operation=Authenticates-the-user---Azure\r\n                              \"view operation details\").",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Return configuration sets retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ReturnConfigurationSet"
                                    }
                                },
                                "example": [
                                    {
                                        "Name": "RCS 1",
                                        "ConfigSetGuid": "737badfa-9622-4f23-818e-cc2edfd05324"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. Validation exception. See content for more details"
                    },
                    "404": {
                        "description": "Return configuration set not found"
                    },
                    "500": {
                        "description": "Internal Server Error. See content for more details"
                    }
                }
            }
        },
        "/api/v1/ReturnLatestHistory": {
            "post": {
                "tags": [
                    "Tax admin"
                ],
                "summary": "Retrieve the latest occurrence of the activity on the provided list of returns",
                "description": "<p>Return history stores specific activities that take place along with the date/time of the activity and the associated user.</p>\r\n<p>This API takes a list of return IDs and an associated return status, and will return the most recent date/time for the combination return ID and status.</p>",
                "operationId": "post-return-latest-history",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "_Required_ when using [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115\r\n                                \"view support article\"), which is recommended for all firms. Firms using [Federation Services in CCH Axcess Login Options](https://download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_FederationServices.htm \r\n                                \"view help article\") **must** use OAuth 2.0 and the Authorization header. Prefix the access token with **\"Bearer \"** keyword",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Security",
                        "in": "header",
                        "description": "_Required_ when using [CCH Axcess login method]( https://download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_CCHLoginMode.htm \r\n                              \"view help article\") with the token supplied by [AzureAuthenticate endpoint]( https://developers.cchaxcess.com/api-details#api=172e8059a9964ddd8614d530b1dafa7e&operation=Authenticates-the-user---Azure\r\n                              \"view operation details\").",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ReturnLatestHistoryRequest"
                            },
                            "example": {
                                "ReturnId": [
                                    "2021I:TEST1:V1",
                                    "2021I:TEST2:V1"
                                ],
                                "Activities": [
                                    "DC",
                                    "OP"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful submission",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReturnLatestHistory"
                                },
                                "example": {
                                    "Activity": "Calculated",
                                    "ActivityCode": "CAL",
                                    "Comment": "Activity found.",
                                    "LastRecordedDateTime": "2022-06-06T12:00:00.0000000+00:00",
                                    "ReturnFound": true,
                                    "ReturnId": "2021I:094-203124:V1",
                                    "StaffName": "userstaff",
                                    "UserId": "user1"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. See content for more details"
                    },
                    "500": {
                        "description": "Internal Server Error. See content for more details"
                    }
                }
            }
        },
        "/api/v1/ReturnProhibitChanges": {
            "post": {
                "tags": [
                    "Tax admin"
                ],
                "summary": "Retrieve the prohibit changes status of the provided list of returns",
                "description": "<p>The \"prohibit changes\" setting will lock a return from having inputs changed or being calculated.</p>\r\n<p>This API operation will show the \"prohibit changes\" status for the requested returns.  Up to 200 return IDs can be submitted per API operation.</p>",
                "operationId": "post-return-prohibit-changes",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "_Required_ when using [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115\r\n                                \"view support article\"), which is recommended for all firms. Firms using [Federation Services in CCH Axcess Login Options](https://download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_FederationServices.htm \r\n                                \"view help article\") **must** use OAuth 2.0 and the Authorization header. Prefix the access token with **\"Bearer \"** keyword",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Security",
                        "in": "header",
                        "description": "_Required_ when using [CCH Axcess login method]( https://download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_CCHLoginMode.htm \r\n                              \"view help article\") with the token supplied by [AzureAuthenticate endpoint]( https://developers.cchaxcess.com/api-details#api=172e8059a9964ddd8614d530b1dafa7e&operation=Authenticates-the-user---Azure\r\n                              \"view operation details\").",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ReturnProhibitChangesRequest"
                            },
                            "example": {
                                "ReturnId": [
                                    "2021I:TEST1:V1",
                                    "2021I:TEST2:V1"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Succesfull submission of request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ReturnProhibitChangesInfo"
                                    }
                                },
                                "example": [
                                    {
                                        "ReturnId": "2021I:TEST1:V1",
                                        "Status": "Prohibit Changes"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. All returns in the list failed the validation. See content for more details"
                    },
                    "404": {
                        "description": "All provided returns not found"
                    },
                    "500": {
                        "description": "Internal Server Error. See content for more details"
                    }
                }
            },
            "put": {
                "tags": [
                    "Tax admin"
                ],
                "summary": "Update the prohibit changes status of a return.",
                "description": "<p>The \"prohibit changes\" setting will lock a return from having inputs changed or being calculated.  This API operation will set the \"prohibit changes\" status based on the Lock value provided.</p>\r\n<p>Setting the value as \"true\" will prevent users from making changes to the return ID.  Setting the value as \"false\" will all edits to be performed on the return ID.  If you are unsure of the current \"prohibit changes\" status of a return, you can use the POST call to check the status of a list of return IDs.</p>",
                "operationId": "put-return-prohibit-changes",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "_Required_ when using [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115\r\n                                \"view support article\"), which is recommended for all firms. Firms using [Federation Services in CCH Axcess Login Options](https://download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_FederationServices.htm \r\n                                \"view help article\") **must** use OAuth 2.0 and the Authorization header. Prefix the access token with **\"Bearer \"** keyword",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Security",
                        "in": "header",
                        "description": "_Required_ when using [CCH Axcess login method]( https://download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_CCHLoginMode.htm \r\n                              \"view help article\") with the token supplied by [AzureAuthenticate endpoint]( https://developers.cchaxcess.com/api-details#api=172e8059a9964ddd8614d530b1dafa7e&operation=Authenticates-the-user---Azure\r\n                              \"view operation details\").",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ReturnProhibitChangesPutRequest"
                            },
                            "example": {
                                "ReturnId": "\"2021I:TEST1:V1\"",
                                "Lock": true
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ReturnProhibitChangesPutRequest"
                            },
                            "example": {
                                "ReturnId": "\"2021I:TEST1:V1\"",
                                "Lock": true
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/ReturnProhibitChangesPutRequest"
                            },
                            "example": {
                                "ReturnId": "\"2021I:TEST1:V1\"",
                                "Lock": true
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Sucessfully submission of request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "boolean"
                                },
                                "example": "True"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. Validation failed. See content for more details"
                    },
                    "500": {
                        "description": "Internal Server Error. See content for more details"
                    }
                }
            }
        },
        "/api/v1/Returns": {
            "get": {
                "tags": [
                    "Tax admin"
                ],
                "summary": "Retrieve the list of returns.",
                "description": "<p>This API operation provides details for return IDs based on the provided filters.  At a minimum, the tax year filter must be provided.</p>\r\n<p>There are additional filters for return type, client ID, and other items that allow users to target specific data for retrieval.</p>\r\n<p>There is also an option to sort the output using the OrderBy parameter.  The filter and sorting allows users to mimic most options available in Return Manager when searching for return IDs.</p>",
                "operationId": "get-returns",
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": " **Required**.\r\n\r\n _Example:_ $filter=TaxYear eq 'taxYear'\r\n\r\n\r\n Replace `taxYear` with valid value.\r\n\r\n\r\n \r\n _Optional filters_: All except tax year \r\n\r\n\r\n _Example:_ $filter = TaxYear eq 'string' and ClientId eq 'string' \r\n                     and ReturnStatus eq 'string' and ReturnVersion eq 'int' and Signer eq 'string' \r\n                     and ReturnGroupName eq 'string' and ReturnType eq 'string' and OfficeName eq 'string' \r\n                     and BusinessUnitName eq 'string' and ExcludePasswordProtected eq 'bool'\r\n                     and LastModifiedDate eq 'date'\r\n                     and PageIndex eq 'int' and PageSize eq 'int' \r\n\r\n\r\n\r\n`ClientId` will perform a **'contains'** search such that any `ClientID` containing the supplied `ClientId` string will be included in the return results.  \r\n_e.g._: ```...WHERE ClientId LIKE '%[ClientId]%'```\r\n\r\n\r\n\r\n\r\n`ReturnType` can be one of the following: I, P, F, C, S, K, Y, X. \r\n\r\n\r\n\r\n`LastModifiedDate` should be in ISO format. For example, 2023-12-31. \r\n\r\n\r\nIt supports the following operation: \r\n\r\n\r\n- `eq` for Equals. For example, LastModifiedDate eq '2023-12-31'\r\n- `ne` for Not Equals. For example, LastModifiedDate ne '2023-12-31'\r\n- `gt` for Greater Than. For example, LastModifiedDate gt '2023-12-31'\r\n- `lt` for Less Than. For example, LastModifiedDate lt '2023-12-31'\r\n\r\nTo filter by date range, use the following operation:\r\n- `ge` for Greater than or Equal to\r\n- `le` for Less than or Equal to\r\n\r\nExamples:\r\n- LastModifiedDate ge '2023-12-01' and LastModifiedDate le '2023-12-31' \r\n- LastModifiedDate le '2024-12-31' and LastModifiedDate ge '2023-12-01' \r\n\r\nBoth examples will filter for returns that were last modified on Dec 2023. \r\n\r\n\r\n\r\nWhen `PageIndex` is not specified, it will have a default value of 1.  \r\n\r\n\r\nWhen `PageSize` is not specified, it will have a default value of 10. The maximum page size is 1,000. \r\n\r\n",
                        "schema": {
                            "type": "string"
                        },
                        "example": "$filter=TaxYear eq 'taxYear'"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Optional.\r\n\r\n_Example:_ $orderby={field}\r\n\r\n\r\nReplace `{field}` with one of the value below.  When not sepcified, the default value is ReturnClientName.\r\n- TaxYear\r\n- ReturnType\r\n- ReturnClientName\r\n- ReturnGroupName\r\n- OfficeName\r\n- BusinessUnitName\r\n- ReturnStatus\r\n- Signer",
                        "schema": {
                            "type": "string"
                        },
                        "example": "$orderby={field}"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "_Required_ when using [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115\r\n                                \"view support article\"), which is recommended for all firms. Firms using [Federation Services in CCH Axcess Login Options](https://download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_FederationServices.htm \r\n                                \"view help article\") **must** use OAuth 2.0 and the Authorization header. Prefix the access token with **\"Bearer \"** keyword",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Security",
                        "in": "header",
                        "description": "_Required_ when using [CCH Axcess login method]( https://download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_CCHLoginMode.htm \r\n                              \"view help article\") with the token supplied by [AzureAuthenticate endpoint]( https://developers.cchaxcess.com/api-details#api=172e8059a9964ddd8614d530b1dafa7e&operation=Authenticates-the-user---Azure\r\n                              \"view operation details\").",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReturnsResponse"
                                },
                                "example": {
                                    "Returns": [
                                        {
                                            "OfficeName": "Main Office",
                                            "BusinessUnitName": "Main",
                                            "TaxYear": "2021",
                                            "ReturnID": "2021I:TEST1:V1",
                                            "ReturnGroupName": "Default",
                                            "ReturnType": "1040 Individual",
                                            "Description": "For Review",
                                            "Signer": "Doe, John",
                                            "ClientName": "Doe, Jane",
                                            "YearEnd": "2021-12-31",
                                            "ReturnConfigurationSetName": "Default",
                                            "ReturnStatus": "Complete",
                                            "LastModifiedDate": "2024-01-04T03:13:31.0000000+00:00"
                                        }
                                    ],
                                    "TotalCount": 100
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. Validation exception. See content for more details"
                    },
                    "404": {
                        "description": "Returns not found"
                    },
                    "500": {
                        "description": "Internal Server Error. See content for more details"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Tax admin"
                ],
                "summary": "Delete the provided list of returns.",
                "description": "<p>This API operation allows returns or their components to be deleted.  You can submit up to 10 return IDs per call.</p>\r\n<p>If either RecoveryCopies or K1ImportFiles values are set to \"true\", the system will delete the associated files for the values set to true but will not delete the return.</p>\r\n<p> If both values are set to \"false\", the system will delete the return and all associated files.</p>",
                "operationId": "delete-returns",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "_Required_ when using [OAuth 2.0 token authentication](https://support.cch.com/kb/solution/000106115\r\n                                \"view support article\"), which is recommended for all firms. Firms using [Federation Services in CCH Axcess Login Options](https://download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_FederationServices.htm \r\n                                \"view help article\") **must** use OAuth 2.0 and the Authorization header. Prefix the access token with **\"Bearer \"** keyword",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Security",
                        "in": "header",
                        "description": "_Required_ when using [CCH Axcess login method]( https://download.cchaxcess.com/pfxbrowserhelp/FAMHelp/Content/ADPlugin/AD_CCHLoginMode.htm \r\n                              \"view help article\") with the token supplied by [AzureAuthenticate endpoint]( https://developers.cchaxcess.com/api-details#api=172e8059a9964ddd8614d530b1dafa7e&operation=Authenticates-the-user---Azure\r\n                              \"view operation details\").",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DeleteReturnRequest"
                            },
                            "example": {
                                "ReturnId": [
                                    "2021I:TEST1:V1",
                                    "2021I:TEST2:V1"
                                ],
                                "RecoveryCopies": false,
                                "K1ImportFiles": false
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
[...]
